# Workflow 1, Module 1 (condition similarity)

In [1]:
#To make nicer looking outputs
from IPython.core.display import display, HTML
import requests

#Load some functions for parsing quick output
import os
import sys
module_path = os.path.abspath(os.path.join('../../..'))
if module_path not in sys.path:
    sys.path.append(module_path)
from gg_functions import parse_answer, get_view_url

robokop='robokop.renci.org'

In [2]:
common_diseases = [
("MONDO:0005578","arthritis"),
("MONDO:0005148","type 2 diabetes mellitus"),
("MONDO:0002406","dermatitis"),
("MONDO:0008383","rheumatoid arthritis"),
("MONDO:0005359","drug-induced liver injury"),
("MONDO:0006573","lipodystrophy (disease)"),
("MONDO:0008226","aggressive periodontitis"),
("MONDO:0001627","dementia"),
("MONDO:0005265","inflammatory bowel disease"),
("MONDO:0004979","asthma"),
("MONDO:0005298","osteoporosis"),
("MONDO:0006932","pulmonary edema"),
("MONDO:0005180","Parkinson disease"),
("MONDO:0006658","arteriolosclerosis"),
("MONDO:0005090","schizophrenia"),
("MONDO:0005152","hypopituitarism"),
("MONDO:0001835","facial paralysis"),
("MONDO:0001824","polyneuropathy"),
("MONDO:0005301","multiple sclerosis"),
("MONDO:0006644","alcoholic liver cirrhosis")
]

In [3]:
#This is the templated query that goes (disease)-(set of phenotypes)-(genetic condition)
turl=lambda robokop,disease_id,disease_name: f'http://{robokop}/api/simple/quick/template/wf1mod1/{disease_id}/?name1={disease_name}/?max_connectivity=1000'

for disease_id, disease_name in common_diseases:
    url = turl(robokop,disease_id,disease_name)
    display(HTML(f'<h3>{disease_name}</h3>'))
    response = requests.get(url)
    if response.status_code != 200:
        print('Error')
        continue
    answers=response.json()
    answer_frame = parse_answer(answers,node_list=['n2'],edge_list=[])
    display(answer_frame.head())
    view_url = get_view_url(answers)
    display(HTML(f'<a href={view_url}>View Answer in ROBOKOP</a>'))

        n2 - id                        n2 - name        score
0  MONDO:0019117  genetic nervous system disorder  158.379598
1  MONDO:0019052      inborn errors of metabolism  156.919501
2  MONDO:0015107         rare genetic eye disease  147.301940
3  MONDO:0024255             genetic skin disease  146.252299
4  MONDO:0020030       rare genetic renal disease  145.184556

        n2 - id             n2 - name        score
0  MONDO:0011565  metabolic syndrome X  144.594703
1  MONDO:0011382    sickle cell anemia  130.523062
2  MONDO:0009693   plasma cell myeloma  127.452026
3  MONDO:0008608         down syndrome  127.110959
4  MONDO:0009061       cystic fibrosis  126.898020

        n2 - id                        n2 - name        score
0  MONDO:0024255             genetic skin disease  183.429585
1  MONDO:0019043        rare genetic skin disease  176.475774
2  MONDO:0015984      rare genetic immune disease  169.171680
3  MONDO:0019117  genetic nervous system disorder  166.486292
4  MONDO:0015107         rare genetic eye disease  162.441594

        n2 - id            n2 - name        score
0  MONDO:0009693  plasma cell myeloma  152.023582
1  MONDO:0005100   systemic sclerosis  147.422579
2  MONDO:0007191       Behcet disease  135.187782
3  MONDO:0008608        down syndrome  132.699689
4  MONDO:0015909      aplastic anemia  130.677636

        n2 - id                   n2 - name        score
0  MONDO:0009693         plasma cell myeloma  120.747154
1  MONDO:0011382          sickle cell anemia  108.741509
2  MONDO:0015909             aplastic anemia  108.294717
3  MONDO:0009061             cystic fibrosis  103.238182
4  MONDO:0006507  hereditary hemochromatosis  102.375458

,n2 - id,n2 - name,score
0,MONDO:0024255,genetic skin disease,121.681537
1,MONDO:0019052,inborn errors of metabolism,121.539282
2,MONDO:0019043,rare genetic skin disease,118.846445
3,MONDO:0015960,rare genetic developmental defect during embry...,115.573575
4,MONDO:0019117,genetic nervous system disorder,115.206699

        n2 - id                  n2 - name       score
0  MONDO:0008226   aggressive periodontitis  33.850506
1  MONDO:0008608              down syndrome  22.832355
2  MONDO:0009490   Papillon-Lefevre disease  22.397949
3  MONDO:0010002  Rothmund-Thomson syndrome  19.895927
4  MONDO:0015909            aplastic anemia  19.186385

        n2 - id                          n2 - name        score
0  MONDO:0019117    genetic nervous system disorder  255.456918
1  MONDO:0019052        inborn errors of metabolism  245.039442
2  MONDO:0015107           rare genetic eye disease  243.660919
3  MONDO:0015952  genetic neurodegenerative disease  237.544551
4  MONDO:0000275                  monogenic disease  236.277182

        n2 - id                        n2 - name       score
0  MONDO:0019117  genetic nervous system disorder  70.677288
1  MONDO:0024255             genetic skin disease  70.377947
2  MONDO:0015984      rare genetic immune disease  69.101445
3  MONDO:0019043        rare genetic skin disease  68.504706
4  MONDO:0019052      inborn errors of metabolism  68.049499

        n2 - id                        n2 - name        score
0  MONDO:0008608                    down syndrome  111.468282
1  MONDO:0009061                  cystic fibrosis  107.403934
2  MONDO:0011382               sickle cell anemia   91.851433
3  MONDO:0010086     sudden infant death syndrome   89.206875
4  MONDO:0007186  gastroesophageal reflux disease   85.126199

        n2 - id            n2 - name        score
0  MONDO:0009693  plasma cell myeloma  118.592658
1  MONDO:0009061      cystic fibrosis  115.559305
2  MONDO:0019499      Turner syndrome  105.276165
3  MONDO:0011382   sickle cell anemia  103.182297
4  MONDO:0008608        down syndrome  102.995280

        n2 - id            n2 - name       score
0  MONDO:0011382   sickle cell anemia  97.770204
1  MONDO:0009061      cystic fibrosis  95.517038
2  MONDO:0008608        down syndrome  81.334995
3  MONDO:0005100   systemic sclerosis  77.189261
4  MONDO:0009693  plasma cell myeloma  76.677655

        n2 - id                                 n2 - name       score
0  MONDO:0008608                             down syndrome  68.958049
1  MONDO:0010200                            Wilson disease  54.714259
2  MONDO:0007191                            Behcet disease  54.100313
3  MONDO:0016021  early infantile epileptic encephalopathy  53.336499
4  MONDO:0018150                           Gaucher disease  52.081490

        n2 - id                   n2 - name       score
0  MONDO:0011382          sickle cell anemia  28.247943
1  MONDO:0009693         plasma cell myeloma  27.064037
2  MONDO:0002413  glycogen storage disease I  24.904973
3  MONDO:0011565        metabolic syndrome X  24.178642
4  MONDO:0010526               Fabry disease  21.385924

        n2 - id                        n2 - name      score
0  MONDO:0019052      inborn errors of metabolism  7.438850
1  MONDO:0019117  genetic nervous system disorder  6.817803
2  MONDO:0008608                    down syndrome  6.814224
3  MONDO:0000275                monogenic disease  6.675081
4  MONDO:0020127    genetic peripheral neuropathy  6.652812

,n2 - id,n2 - name,score
0,MONDO:0013099,"combined pituitary hormone deficiencies, genet...",282.021683
1,MONDO:0015514,genetic endocrine growth disease,273.003622
2,MONDO:0018404,rare genetic male infertility,257.380704
3,MONDO:0017143,genetic infertility,257.306611
4,MONDO:0018405,rare male infertility due to hypothalamic-pitu...,255.402528

        n2 - id                        n2 - name        score
0  MONDO:0008608                    down syndrome  100.661431
1  MONDO:0019117  genetic nervous system disorder   82.853650
2  MONDO:0007191                   Behcet disease   82.245812
3  MONDO:0021061                neurofibromatosis   78.641208
4  MONDO:0008364                  Raynaud disease   75.566071

        n2 - id               n2 - name       score
0  MONDO:0009693     plasma cell myeloma  86.952503
1  MONDO:0015909         aplastic anemia  86.531555
2  MONDO:0005100      systemic sclerosis  86.470383
3  MONDO:0007191          Behcet disease  80.587173
4  MONDO:0009637  mitochondrial myopathy  80.527131

        n2 - id                        n2 - name        score
0  MONDO:0007191                   Behcet disease  114.794487
1  MONDO:0008608                    down syndrome  107.682315
2  MONDO:0019117  genetic nervous system disorder  102.988646
3  MONDO:0015107         rare genetic eye disease   93.864954
4  MONDO:0011382               sickle cell anemia   93.789909

        n2 - id                   n2 - name       score
0  MONDO:0009061             cystic fibrosis  88.720400
1  MONDO:0006507  hereditary hemochromatosis  88.682128
2  MONDO:0009693         plasma cell myeloma  82.848650
3  MONDO:0005100          systemic sclerosis  80.806506
4  MONDO:0015909             aplastic anemia  80.044896