# Workflow 1, Module 1 (condition similarity by phenotype and process)

In [1]:
#To make nicer looking outputs
from IPython.core.display import display, HTML
import requests

#Load some functions for parsing quick output
import os
import sys
module_path = os.path.abspath(os.path.join('../../..'))
if module_path not in sys.path:
    sys.path.append(module_path)
from gg_functions import parse_answer, get_view_url

robokop='robokop.renci.org'

In [2]:
common_diseases = [
("MONDO:0005578","arthritis"),
("MONDO:0005148","type 2 diabetes mellitus"),
("MONDO:0002406","dermatitis"),
("MONDO:0008383","rheumatoid arthritis"),
("MONDO:0005359","drug-induced liver injury"),
("MONDO:0006573","lipodystrophy (disease)"),
("MONDO:0008226","aggressive periodontitis"),
("MONDO:0001627","dementia"),
("MONDO:0005265","inflammatory bowel disease"),
("MONDO:0004979","asthma"),
("MONDO:0005298","osteoporosis"),
("MONDO:0006932","pulmonary edema"),
("MONDO:0005180","Parkinson disease"),
("MONDO:0006658","arteriolosclerosis"),
("MONDO:0005090","schizophrenia"),
("MONDO:0005152","hypopituitarism"),
("MONDO:0001835","facial paralysis"),
("MONDO:0001824","polyneuropathy"),
("MONDO:0005301","multiple sclerosis"),
("MONDO:0006644","alcoholic liver cirrhosis")
]

In [3]:
#This is the templated query that goes (disease)-(set of phenotypes)-(genetic condition)
turl=lambda robokop,disease_id,disease_name: f'http://{robokop}/api/simple/quick/template/wf1mod1_with_process/{disease_id}/?name1={disease_name}/?max_connectivity=1000'

for disease_id, disease_name in common_diseases:
    url = turl(robokop,disease_id,disease_name)
    display(HTML(f'<h3>{disease_name}</h3>'))
    response = requests.get(url)
    if response.status_code != 200:
        print('Error')
        continue
    answers=response.json()
    if isinstance(answers,str):
        print (answers)
        continue
    answer_frame = parse_answer(answers,node_list=['n2'],edge_list=[])
    display(answer_frame.head())
    view_url = get_view_url(answers)
    display(HTML(f'<a href={view_url}>View Answer in ROBOKOP</a>'))

        n2 - id                      n2 - name        score
0  MONDO:0007191                 Behcet disease  146.002816
1  MONDO:0005100             systemic sclerosis  141.675446
2  MONDO:0010602                   hemophilia A  135.089013
3  MONDO:0018088   familial Mediterranean fever  106.913713
4  MONDO:0018305  chronic granulomatous disease  101.958240

        n2 - id                    n2 - name        score
0  MONDO:0011565         metabolic syndrome X  145.825435
1  MONDO:0012819        diabetic ketoacidosis  142.314579
2  MONDO:0011382           sickle cell anemia  132.241755
3  MONDO:0019052  inborn errors of metabolism  115.233070
4  MONDO:0006507   hereditary hemochromatosis  108.628725

,n2 - id,n2 - name,score
0,MONDO:0005100,systemic sclerosis,129.397163
1,MONDO:0007191,Behcet disease,123.677793
2,MONDO:0018305,chronic granulomatous disease,104.522331
3,MONDO:0010602,hemophilia A,101.238960
4,MONDO:0015823,primary immunodeficiency due to a defect in ad...,100.268704

        n2 - id           n2 - name        score
0  MONDO:0005100  systemic sclerosis  158.144436
1  MONDO:0007191      Behcet disease  141.627847
2  MONDO:0015909     aplastic anemia  131.738567
3  MONDO:0010602        hemophilia A  126.977282
4  MONDO:0011382  sickle cell anemia  121.533915

Bad response from the question answering service.

        n2 - id                               n2 - name        score
0  MONDO:0019052             inborn errors of metabolism  122.671414
1  MONDO:0019214  inborn carbohydrate metabolic disorder   80.532225
2  MONDO:0020087                   genetic lipodystrophy   79.148230
3  MONDO:0011565                    metabolic syndrome X   78.235345
4  MONDO:0002561               lysosomal storage disease   74.434075

        n2 - id                 n2 - name       score
0  MONDO:0008226  aggressive periodontitis  36.536818
1  MONDO:0009490  Papillon-Lefevre disease  24.752338
2  MONDO:0005100        systemic sclerosis  21.221480
3  MONDO:0010602              hemophilia A  18.840330
4  MONDO:0008963  Chediak-Higashi syndrome  18.257729

Bad response from the question answering service.

Bad response from the question answering service.

Bad response from the question answering service.

        n2 - id           n2 - name        score
0  MONDO:0011382  sickle cell anemia  106.442625
1  MONDO:0019499     Turner syndrome  106.079175
2  MONDO:0008608       down syndrome  103.794675
3  MONDO:0010602        hemophilia A   96.958028
4  MONDO:0018150     Gaucher disease   94.863394

        n2 - id                              n2 - name       score
0  MONDO:0011382                     sickle cell anemia  98.568614
1  MONDO:0008608                          down syndrome  82.133627
2  MONDO:0010602                           hemophilia A  74.649744
3  MONDO:0009971  newborn respiratory distress syndrome  69.800898
4  MONDO:0011827               patent ductus arteriosus  67.774951

Bad response from the question answering service.

Bad response from the question answering service.

Bad response from the question answering service.

Bad response from the question answering service.

Bad response from the question answering service.

        n2 - id                     n2 - name       score
0  MONDO:0005100            systemic sclerosis  89.782481
1  MONDO:0007191                Behcet disease  83.881610
2  MONDO:0010602                  hemophilia A  68.011647
3  MONDO:0015977            agammaglobulinemia  66.679015
4  MONDO:0018088  familial Mediterranean fever  61.778571

,n2 - id,n2 - name,score
0,MONDO:0007191,Behcet disease,121.232720
1,MONDO:0008608,down syndrome,110.954179
2,MONDO:0011382,sickle cell anemia,95.647076
3,MONDO:0015107,rare genetic eye disease,94.528537
4,MONDO:0015960,rare genetic developmental defect during embry...,92.034603

Bad response from the question answering service.