# Workflow 1, Module 3 examples

In [3]:
#To make nicer looking outputs
from IPython.core.display import display, HTML
import requests

#Load some functions for parsing quick output
import os
import sys
module_path = os.path.abspath(os.path.join('../../..'))
if module_path not in sys.path:
    sys.path.append(module_path)
from gg_functions import parse_answer, get_view_url

#load in some example disease lists to try
example_path = os.path.abspath(os.path.join('../../../examples'))
sys.path.append(example_path)
from disease_lists import rare_diseases, common_diseases
diseases = common_diseases + rare_diseases

robokop='robokop.renci.org'

In [7]:
turl=lambda robokop,disease_id,disease_name: f'http://{robokop}/api/simple/quick/template/wf1mod3/{disease_id}/?name1={disease_name}'

for disease_id, disease_name in diseases:
    url = turl(robokop,disease_id,disease_name)
    display(HTML(f'<h3>{disease_name}</h3>'))
    response = requests.get(url)
    if response.status_code != 200:
        print('Error')
        continue
    answers=response.json()
    view_url = get_view_url(answers)
    display(HTML(f'<a href={view_url}>View Answer in ROBOKOP</a>'))
    answer_frame = parse_answer(answers,node_list=['n2','n3','n4'],edge_list=[])
    display(answer_frame.head())

     n2 - id  n2 - name      n3 - id      n3 - name      score
0  HGNC:11892        TNF  CHEBI:41879  dexamethasone  0.486965
1  HGNC:11892        TNF  CHEBI:44185   methotrexate  0.477080
2  HGNC:11892        TNF  CHEBI:44185   methotrexate  0.474217
3   HGNC:2861       DHFR  CHEBI:44185   methotrexate  0.474214
4  HGNC:11892        TNF  CHEBI:16243      quercetin  0.465349

     n2 - id  n2 - name      n3 - id     n3 - name      score
0   HGNC:6081        INS   CHEBI:6801     metformin  0.915422
1  HGNC:14929      SIRT1  CHEBI:16236       ethanol  0.673230
2  HGNC:14929      SIRT1   CHEBI:9288  streptozocin  0.659519
3  HGNC:11005     SLC2A1  CHEBI:15422           ATP  0.647185
4    HGNC:391       AKT1  CHEBI:15422           ATP  0.639674

     n2 - id  n2 - name      n3 - id                n3 - name      score
0   HGNC:9864       RARA  CHEBI:15367  all-trans-retinoic acid  0.561329
1   HGNC:3012       DPYD  CHEBI:46345           5-fluorouracil  0.542622
2   HGNC:9605      PTGS2  CHEBI:16243                quercetin  0.542475
3  HGNC:11892        TNF  CHEBI:41879            dexamethasone  0.539746
4   HGNC:6018        IL6  CHEBI:41879            dexamethasone  0.538575

     n2 - id  n2 - name      n3 - id     n3 - name      score
0   HGNC:2861       DHFR  CHEBI:44185  methotrexate  0.699827
1  HGNC:11892        TNF  CHEBI:44185  methotrexate  0.679752
2  HGNC:11892        TNF  CHEBI:44185  methotrexate  0.657341
3  HGNC:10937    SLC19A1  CHEBI:44185  methotrexate  0.641152
4   HGNC:5438       IFNG  CHEBI:44185  methotrexate  0.641137

    n2 - id  n2 - name      n3 - id      n3 - name      score
0  HGNC:2596     CYP1A2   CHEBI:8069  phenobarbital  0.671913
1  HGNC:2596     CYP1A2  CHEBI:41879  dexamethasone  0.644720
2  HGNC:2596     CYP1A2   CHEBI:5138    fluvoxamine  0.643443
3    HGNC:40      ABCB1   CHEBI:4031  cyclosporin A  0.614494
4  HGNC:7873       NOS2  CHEBI:41879  dexamethasone  0.606997

     n2 - id  n2 - name      n3 - id      n3 - name      score
0  HGNC:11830        TK1  CHEBI:17026   progesterone  0.428695
1  HGNC:11830        TK1  CHEBI:16236        ethanol  0.390383
2  HGNC:11830        TK1  CHEBI:10110     zidovudine  0.373385
3  HGNC:11830        TK1  CHEBI:33216    bisphenol A  0.327354
4  HGNC:11830        TK1   CHEBI:4031  cyclosporin A  0.314972

Empty DataFrame
Columns: []
Index: []

     n2 - id  n2 - name      n3 - id           n3 - name      score
0  HGNC:10937    SLC19A1  CHEBI:27470          folic acid  0.604012
1   HGNC:2590    CYP11A1  CHEBI:41922  diethylstilbestrol  0.542849
2     HGNC:40      ABCB1   CHEBI:4031       cyclosporin A  0.530609
3   HGNC:3964       FSHB  CHEBI:41922  diethylstilbestrol  0.522187
4    HGNC:644         AR  CHEBI:41922  diethylstilbestrol  0.521118

     n2 - id  n2 - name      n3 - id                n3 - name      score
0  HGNC:11892        TNF  CHEBI:41879            dexamethasone  0.490630
1   HGNC:9864       RARA  CHEBI:15367  all-trans-retinoic acid  0.486407
2  HGNC:11892        TNF  CHEBI:16243                quercetin  0.478595
3   HGNC:6018        IL6  CHEBI:41879            dexamethasone  0.471679
4  HGNC:11892        TNF   CHEBI:9753             troglitazone  0.470145

     n2 - id  n2 - name      n3 - id      n3 - name      score
0    HGNC:990       BCL2  CHEBI:28177   theophylline  0.560860
1  HGNC:11892        TNF   CHEBI:2549      albuterol  0.546045
2   HGNC:6014        IL4  CHEBI:28177   theophylline  0.530862
3  HGNC:11892        TNF   CHEBI:2549      albuterol  0.526946
4   HGNC:7873       NOS2  CHEBI:41879  dexamethasone  0.526594

    n2 - id  n2 - name      n3 - id     n3 - name      score
0  HGNC:6018        IL6  CHEBI:17650      cortisol  0.638361
1   HGNC:990       BCL2  CHEBI:41774     tamoxifen  0.554217
2  HGNC:6018        IL6  CHEBI:17026  progesterone  0.547547
3   HGNC:990       BCL2  CHEBI:45863    paclitaxel  0.546672
4   HGNC:990       BCL2  CHEBI:52717    bortezomib  0.546439

     n2 - id  n2 - name      n3 - id        n3 - name      score
0  HGNC:11050     SLC6A4   CHEBI:6809  methamphetamine  0.604405
1  HGNC:11049     SLC6A3   CHEBI:6809  methamphetamine  0.601753
2  HGNC:11048     SLC6A2   CHEBI:2679      amphetamine  0.593098
3   HGNC:2596     CYP1A2   CHEBI:8069    phenobarbital  0.588836
4   HGNC:1516        CAT  CHEBI:33216      bisphenol A  0.585317

     n2 - id  n2 - name      n3 - id  n3 - name      score
0  HGNC:11782         TH  CHEBI:18243   dopamine  1.173087
1  HGNC:11782         TH  CHEBI:18243   dopamine  1.073364
2   HGNC:4638      GSTP1  CHEBI:18243   dopamine  1.059447
3   HGNC:2625     CYP2D6  CHEBI:18243   dopamine  1.007262
4   HGNC:4632      GSTM1  CHEBI:18243   dopamine  1.005324

Empty DataFrame
Columns: []
Index: []

     n2 - id  n2 - name      n3 - id  n3 - name      score
0   HGNC:4638      GSTP1  CHEBI:18243   dopamine  0.830271
1  HGNC:11782         TH  CHEBI:18243   dopamine  0.752496
2   HGNC:2625     CYP2D6  CHEBI:18243   dopamine  0.716521
3  HGNC:11782         TH   CHEBI:3766  clozapine  0.697973
4   HGNC:4638      GSTP1   CHEBI:3766  clozapine  0.686475

    n2 - id  n2 - name      n3 - id          n3 - name      score
0  HGNC:6018        IL6  CHEBI:17650           cortisol  0.530975
1  HGNC:7876       NOS3  CHEBI:16240  hydrogen peroxide  0.471829
2   HGNC:990       BCL2  CHEBI:45863         paclitaxel  0.465478
3  HGNC:9605      PTGS2  CHEBI:41879      dexamethasone  0.448361
4  HGNC:9201       POMC  CHEBI:41879      dexamethasone  0.430767

   n2 - id  n2 - name      n3 - id      n3 - name      score
0  HGNC:990       BCL2  CHEBI:44185   methotrexate  0.527243
1  HGNC:990       BCL2  CHEBI:45863     paclitaxel  0.509183
2  HGNC:990       BCL2  CHEBI:28680     cytarabine  0.504952
3  HGNC:990       BCL2  CHEBI:31355    carboplatin  0.497882
4   HGNC:40      ABCB1   CHEBI:4031  cyclosporin A  0.496477

   n2 - id  n2 - name      n3 - id       n3 - name      score
0   HGNC:40      ABCB1   CHEBI:4031   cyclosporin A  0.646895
1  HGNC:990       BCL2  CHEBI:52717      bortezomib  0.640845
2   HGNC:40      ABCB1   CHEBI:4031   cyclosporin A  0.633762
3  HGNC:990       BCL2  CHEBI:45863      paclitaxel  0.625651
4  HGNC:990       BCL2  CHEBI:46345  5-fluorouracil  0.611422

     n2 - id  n2 - name      n3 - id      n3 - name      score
0  HGNC:11892        TNF  CHEBI:41879  dexamethasone  0.438284
1  HGNC:11892        TNF  CHEBI:16243      quercetin  0.430354
2   HGNC:7873       NOS2  CHEBI:41879  dexamethasone  0.429513
3   HGNC:5438       IFNG  CHEBI:41879  dexamethasone  0.424916
4   HGNC:7873       NOS2  CHEBI:41879  dexamethasone  0.423916

    n2 - id  n2 - name      n3 - id      n3 - name      score
0  HGNC:2631     CYP2E1  CHEBI:46195    paracetamol  0.552733
1  HGNC:2631     CYP2E1   CHEBI:4659     disulfiram  0.531402
2  HGNC:2631     CYP2E1   CHEBI:8069  phenobarbital  0.501164
3  HGNC:2631     CYP2E1   CHEBI:4031  cyclosporin A  0.487566
4   HGNC:404      ALDH2   CHEBI:4659     disulfiram  0.486286

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

    n2 - id  n2 - name      n3 - id           n3 - name      score
0   HGNC:644         AR  CHEBI:16243           quercetin  0.586301
1  HGNC:6018        IL6  CHEBI:17650            cortisol  0.560715
2   HGNC:644         AR  CHEBI:41922  diethylstilbestrol  0.543953
3  HGNC:7978      NR3C1  CHEBI:41879       dexamethasone  0.535534
4   HGNC:644         AR  CHEBI:39867       valproic acid  0.535446

     n2 - id  n2 - name      n3 - id         n3 - name      score
0  HGNC:11892        TNF  CHEBI:41879     dexamethasone  0.516839
1  HGNC:11892        TNF  CHEBI:33101  nitrogen dioxide  0.514982
2   HGNC:6018        IL6  CHEBI:41879     dexamethasone  0.496067
3   HGNC:5013      HMOX1  CHEBI:46195       paracetamol  0.495597
4   HGNC:7873       NOS2  CHEBI:46195       paracetamol  0.493888

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

     n2 - id  n2 - name      n3 - id      n3 - name      score
0  HGNC:10937    SLC19A1  CHEBI:44185   methotrexate  0.314212
1   HGNC:2861       DHFR  CHEBI:44185   methotrexate  0.312540
2   HGNC:5013      HMOX1  CHEBI:16236        ethanol  0.292121
3   HGNC:5013      HMOX1  CHEBI:46195    paracetamol  0.288697
4   HGNC:5013      HMOX1   CHEBI:4031  cyclosporin A  0.288658

     n2 - id  n2 - name      n3 - id       n3 - name      score
0     HGNC:40      ABCB1   CHEBI:4031   cyclosporin A  0.534081
1  HGNC:11730       TERT  CHEBI:46345  5-fluorouracil  0.519951
2    HGNC:990       BCL2  CHEBI:46345  5-fluorouracil  0.517024
3    HGNC:990       BCL2  CHEBI:31355     carboplatin  0.497882
4     HGNC:40      ABCB1   CHEBI:3962        curcumin  0.497615

     n2 - id  n2 - name      n3 - id         n3 - name      score
0  HGNC:11892        TNF  CHEBI:41879     dexamethasone  0.362915
1  HGNC:11892        TNF  CHEBI:41879     dexamethasone  0.355140
2   HGNC:6018        IL6  CHEBI:41879     dexamethasone  0.348473
3  HGNC:11892        TNF  CHEBI:33101  nitrogen dioxide  0.346500
4  HGNC:11892        TNF  CHEBI:33101  nitrogen dioxide  0.342949

     n2 - id  n2 - name      n3 - id          n3 - name      score
0   HGNC:3999        FTL  CHEBI:16240  hydrogen peroxide  0.509260
1   HGNC:4910      HIF1A  CHEBI:15430     protoporphyrin  0.485372
2  HGNC:11763       TFRC   CHEBI:4031      cyclosporin A  0.444505
3    HGNC:613       APOE   CHEBI:4031      cyclosporin A  0.436823
4   HGNC:4910      HIF1A  CHEBI:15379           dioxygen  0.424549

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

     n2 - id  n2 - name      n3 - id      n3 - name      score
0  HGNC:11892        TNF   CHEBI:9150    simvastatin  0.495669
1  HGNC:11892        TNF  CHEBI:41879  dexamethasone  0.495219
2  HGNC:11892        TNF  CHEBI:16243      quercetin  0.485356
3  HGNC:11892        TNF   CHEBI:9753   troglitazone  0.476196
4  HGNC:11892        TNF  CHEBI:25812          ozone  0.469110

     n2 - id  n2 - name      n3 - id        n3 - name      score
0     HGNC:40      ABCB1   CHEBI:4031    cyclosporin A  0.436367
1  HGNC:11998       TP53  CHEBI:29678  sodium arsenite  0.414053
2     HGNC:40      ABCB1   CHEBI:3962         curcumin  0.409188
3  HGNC:11998       TP53  CHEBI:16243        quercetin  0.407303
4   HGNC:9884        RB1   CHEBI:8382       prednisone  0.405668

     n2 - id  n2 - name      n3 - id        n3 - name      score
0  HGNC:11782         TH   CHEBI:6809  methamphetamine  0.441137
1  HGNC:11892        TNF  CHEBI:41879    dexamethasone  0.423395
2     HGNC:40      ABCB1   CHEBI:4031    cyclosporin A  0.422959
3  HGNC:11892        TNF  CHEBI:41879    dexamethasone  0.420479
4    HGNC:270      PARP1   CHEBI:4911        etoposide  0.417458

     n2 - id  n2 - name      n3 - id      n3 - name      score
0  HGNC:11892        TNF  CHEBI:41879  dexamethasone  0.485212
1  HGNC:11892        TNF   CHEBI:9753   troglitazone  0.466760
2  HGNC:11892        TNF  CHEBI:41879  dexamethasone  0.444886
3  HGNC:11892        TNF   CHEBI:9753   troglitazone  0.429836
4  HGNC:11892        TNF  CHEBI:50122  rosiglitazone  0.421176

Empty DataFrame
Columns: []
Index: []

     n2 - id  n2 - name      n3 - id          n3 - name      score
0   HGNC:1516        CAT  CHEBI:16240  hydrogen peroxide  0.487516
1   HGNC:1516        CAT  CHEBI:16236            ethanol  0.481485
2  HGNC:11892        TNF  CHEBI:41879      dexamethasone  0.476459
3   HGNC:1516        CAT  CHEBI:64317       isoprenaline  0.474792
4   HGNC:8583   SERPINE1   CHEBI:9150        simvastatin  0.468221

    n2 - id  n2 - name      n3 - id          n3 - name      score
0   HGNC:620        APP  CHEBI:16240  hydrogen peroxide  0.570986
1  HGNC:4553       GPX1  CHEBI:16240  hydrogen peroxide  0.551517
2   HGNC:613       APOE   CHEBI:9150        simvastatin  0.532776
3   HGNC:613       APOE   CHEBI:9150        simvastatin  0.531039
4  HGNC:7978      NR3C1  CHEBI:41879      dexamethasone  0.527662

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

     n2 - id  n2 - name      n3 - id      n3 - name      score
0  HGNC:11892        TNF  CHEBI:41879  dexamethasone  0.398590
1  HGNC:11892        TNF   CHEBI:9150    simvastatin  0.398450
2   HGNC:3023       DRD2   CHEBI:7735     olanzapine  0.394159
3   HGNC:5293      HTR2A   CHEBI:7735     olanzapine  0.393895
4  HGNC:11892        TNF   CHEBI:9150    simvastatin  0.389990

Empty DataFrame
Columns: []
Index: []

     n2 - id  n2 - name      n3 - id        n3 - name      score
0  HGNC:11782         TH   CHEBI:6809  methamphetamine  0.441137
1  HGNC:11892        TNF  CHEBI:41879    dexamethasone  0.423395
2     HGNC:40      ABCB1   CHEBI:4031    cyclosporin A  0.422959
3  HGNC:11892        TNF  CHEBI:41879    dexamethasone  0.420479
4    HGNC:270      PARP1   CHEBI:4911        etoposide  0.417458

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

     n2 - id  n2 - name      n3 - id      n3 - name      score
0     HGNC:40      ABCB1   CHEBI:4031  cyclosporin A  0.465773
1     HGNC:40      ABCB1   CHEBI:3962       curcumin  0.440738
2  HGNC:11892        TNF  CHEBI:41879  dexamethasone  0.431604
3  HGNC:11892        TNF   CHEBI:9150    simvastatin  0.431192
4  HGNC:11892        TNF  CHEBI:16243      quercetin  0.423963

    n2 - id  n2 - name      n3 - id      n3 - name      score
0  HGNC:2595     CYP1A1   CHEBI:4031  cyclosporin A  0.404705
1  HGNC:6018        IL6   CHEBI:3962       curcumin  0.404331
2  HGNC:2595     CYP1A1   CHEBI:3962       curcumin  0.392115
3  HGNC:2595     CYP1A1  CHEBI:18243       dopamine  0.380485
4  HGNC:2637     CYP3A4   CHEBI:4031  cyclosporin A  0.379485

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

     n2 - id  n2 - name      n3 - id      n3 - name      score
0   HGNC:6584        LHB  CHEBI:17026   progesterone  0.349363
1  HGNC:11285     SRD5A2  CHEBI:17026   progesterone  0.339941
2  HGNC:11284     SRD5A1  CHEBI:17026   progesterone  0.339816
3  HGNC:11766      TGFB1  CHEBI:41879  dexamethasone  0.306542
4   HGNC:5962       IL10  CHEBI:16236        ethanol  0.298939

     n2 - id  n2 - name      n3 - id      n3 - name      score
0  HGNC:11830        TK1  CHEBI:17026   progesterone  0.445639
1  HGNC:11830        TK1   CHEBI:4031  cyclosporin A  0.431383
2  HGNC:11830        TK1  CHEBI:16236        ethanol  0.405174
3  HGNC:10959    SLCO1B1  CHEBI:40303     lovastatin  0.393126
4   HGNC:5013      HMOX1  CHEBI:16236        ethanol  0.386961

    n2 - id  n2 - name      n3 - id        n3 - name      score
0  HGNC:4632      GSTM1  CHEBI:18243         dopamine  0.311697
1  HGNC:4632      GSTM1  CHEBI:47381       diclofenac  0.215871
2  HGNC:4632      GSTM1  CHEBI:15854          quinine  0.210798
3  HGNC:4632      GSTM1  CHEBI:28593        quinidine  0.201532
4  HGNC:4632      GSTM1  CHEBI:35036  fentin chloride  0.158501

     n2 - id  n2 - name      n3 - id      n3 - name      score
0    HGNC:990       BCL2  CHEBI:52717     bortezomib  0.420971
1   HGNC:6018        IL6  CHEBI:17650       cortisol  0.418942
2  HGNC:11892        TNF  CHEBI:41879  dexamethasone  0.401423
3    HGNC:990       BCL2  CHEBI:44185   methotrexate  0.399297
4    HGNC:990       BCL2  CHEBI:44185   methotrexate  0.396852

Empty DataFrame
Columns: []
Index: []

    n2 - id  n2 - name      n3 - id                n3 - name      score
0  HGNC:7218        MPO  CHEBI:41879            dexamethasone  0.384055
1  HGNC:7218        MPO  CHEBI:15367  all-trans-retinoic acid  0.364380
2    HGNC:51      ABCC1  CHEBI:28088                genistein  0.340471
3    HGNC:51      ABCC1  CHEBI:28593                quinidine  0.329529
4  HGNC:7218        MPO   CHEBI:5615                halothane  0.326914

    n2 - id  n2 - name      n3 - id       n3 - name      score
0  HGNC:5013      HMOX1  CHEBI:16236         ethanol  0.421324
1  HGNC:2689        DBH   CHEBI:4659      disulfiram  0.399138
2  HGNC:2610     CYP2A6  CHEBI:18358     methoxsalen  0.391454
3  HGNC:1960     CHRNA7  CHEBI:17688    (S)-nicotine  0.384792
4   HGNC:348        AHR  CHEBI:29865  benzo[a]pyrene  0.372727

    n2 - id  n2 - name      n3 - id    n3 - name      score
0  HGNC:2625     CYP2D6  CHEBI:18243     dopamine  0.300016
1  HGNC:2637     CYP3A4  CHEBI:18243     dopamine  0.298142
2  HGNC:3467       ESR1  CHEBI:31638  fulvestrant  0.266717
3  HGNC:3467       ESR1  CHEBI:33216  bisphenol A  0.260879
4  HGNC:2625     CYP2D6  CHEBI:18243     dopamine  0.259226

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

     n2 - id  n2 - name      n3 - id          n3 - name      score
0  HGNC:11892        TNF  CHEBI:41879      dexamethasone  0.507629
1  HGNC:11179       SOD1   CHEBI:9288       streptozocin  0.485361
2   HGNC:4910      HIF1A  CHEBI:15430     protoporphyrin  0.484236
3  HGNC:11892        TNF  CHEBI:16240  hydrogen peroxide  0.476497
4   HGNC:1516        CAT   CHEBI:9288       streptozocin  0.475195

Empty DataFrame
Columns: []
Index: []