# Workflow 1, Module 3a examples

In [1]:
#To make nicer looking outputs
from IPython.core.display import display, HTML
import requests

#Load some functions for parsing quick output
import os
import sys
module_path = os.path.abspath(os.path.join('../../..'))
if module_path not in sys.path:
    sys.path.append(module_path)
from gg_functions import parse_answer, get_view_url

#load in some example disease lists to try
example_path = os.path.abspath(os.path.join('../../../examples'))
sys.path.append(example_path)
from disease_lists import rare_diseases, common_diseases
diseases = common_diseases + rare_diseases

robokop='robokop.renci.org'

In [2]:
turl=lambda robokop,disease_id,disease_name: f'http://{robokop}/api/simple/quick/template/wf1mod3_v2/{disease_id}/?name1={disease_name}'

for disease_id, disease_name in diseases:
    url = turl(robokop,disease_id,disease_name)
    display(HTML(f'<h3>{disease_name}</h3>'))
    response = requests.get(url)
    if response.status_code != 200:
        print('Error')
        continue
    answers=response.json()
    view_url = get_view_url(answers)
    display(HTML(f'<a href={view_url}>View Answer in ROBOKOP</a>'))
    answer_frame = parse_answer(answers,node_list=['n2','n3','n4'],edge_list=[])
    display(answer_frame.head())

    n2 - id  n2 - name      n3 - id      n3 - name      score
0  HGNC:1504      CASP3  CHEBI:44185   methotrexate  0.475562
1  HGNC:2637     CYP3A4  CHEBI:41879  dexamethasone  0.464412
2  HGNC:2637     CYP3A4   CHEBI:3387  carbamazepine  0.463590
3  HGNC:2637     CYP3A4  CHEBI:28077     rifampicin  0.459983
4  HGNC:2637     CYP3A4   CHEBI:8107      phenytoin  0.459774

     n2 - id  n2 - name      n3 - id      n3 - name      score
0  HGNC:11009     SLC2A4   CHEBI:6801      metformin  0.953679
1   HGNC:6081        INS   CHEBI:6801      metformin  0.874051
2   HGNC:1516        CAT   CHEBI:6801      metformin  0.709781
3  HGNC:11180       SOD2  CHEBI:16236        ethanol  0.699207
4  HGNC:12517       UCP1  CHEBI:50122  rosiglitazone  0.683096

     n2 - id  n2 - name      n3 - id      n3 - name      score
0   HGNC:1784     CDKN1A  CHEBI:44185   methotrexate  0.603848
1  HGNC:11998       TP53  CHEBI:27504    mitomycin C  0.602394
2  HGNC:11998       TP53  CHEBI:80630     irinotecan  0.583871
3  HGNC:11998       TP53  CHEBI:44185   methotrexate  0.580669
4   HGNC:3012       DPYD  CHEBI:39867  valproic acid  0.579460

     n2 - id  n2 - name      n3 - id     n3 - name      score
0   HGNC:2861       DHFR  CHEBI:44185  methotrexate  0.726768
1   HGNC:1516        CAT  CHEBI:44185  methotrexate  0.662617
2   HGNC:1925      CHEK1  CHEBI:44185  methotrexate  0.636938
3   HGNC:2201     COL3A1  CHEBI:44185  methotrexate  0.626955
4  HGNC:11892        TNF  CHEBI:44185  methotrexate  0.622459

     n2 - id  n2 - name      n3 - id          n3 - name      score
0   HGNC:2637     CYP3A4   CHEBI:8107          phenytoin  0.662104
1  HGNC:11998       TP53   CHEBI:4911          etoposide  0.639843
2   HGNC:1516        CAT  CHEBI:16240  hydrogen peroxide  0.621783
3   HGNC:6018        IL6  CHEBI:16240  hydrogen peroxide  0.612187
4   HGNC:7969      NR1I3   CHEBI:8069      phenobarbital  0.596938

     n2 - id  n2 - name      n3 - id          n3 - name      score
0   HGNC:1516        CAT  CHEBI:16240  hydrogen peroxide  0.458246
1   HGNC:1516        CAT   CHEBI:3750         clofibrate  0.454530
2   HGNC:1516        CAT   CHEBI:9288       streptozocin  0.448862
3  HGNC:11180       SOD2  CHEBI:16236            ethanol  0.442900
4  HGNC:11180       SOD2  CHEBI:16240  hydrogen peroxide  0.436448

Empty DataFrame
Columns: []
Index: []

     n2 - id  n2 - name      n3 - id             n3 - name      score
0   HGNC:1925      CHEK1  CHEBI:46345        5-fluorouracil  0.559742
1   HGNC:9605      PTGS2  CHEBI:15365  acetylsalicylic acid  0.553933
2  HGNC:12441       TYMS  CHEBI:46345        5-fluorouracil  0.525379
3   HGNC:9605      PTGS2  CHEBI:29678       sodium arsenite  0.521397
4   HGNC:9605      PTGS2  CHEBI:49662           indometacin  0.521052

     n2 - id  n2 - name      n3 - id                n3 - name      score
0  HGNC:11892        TNF  CHEBI:34674          dextran sulfate  0.462217
1   HGNC:2595     CYP1A1  CHEBI:29865           benzo[a]pyrene  0.448391
2    HGNC:391       AKT1  CHEBI:33216              bisphenol A  0.446407
3   HGNC:9864       RARA  CHEBI:15367  all-trans-retinoic acid  0.444818
4   HGNC:2595     CYP1A1  CHEBI:16243                quercetin  0.444390

    n2 - id  n2 - name      n3 - id    n3 - name      score
0  HGNC:7978      NR3C1  CHEBI:17650     cortisol  0.516995
1  HGNC:7978      NR3C1   CHEBI:3207   budesonide  0.501712
2  HGNC:6018        IL6  CHEBI:25812        ozone  0.499764
3  HGNC:6018        IL6  CHEBI:46195  paracetamol  0.499478
4   HGNC:404      ALDH2  CHEBI:16236      ethanol  0.491189

    n2 - id  n2 - name      n3 - id          n3 - name      score
0  HGNC:7978      NR3C1  CHEBI:17650           cortisol  0.716151
1  HGNC:6018        IL6  CHEBI:16236            ethanol  0.604426
2  HGNC:6018        IL6  CHEBI:46195        paracetamol  0.570930
3  HGNC:6018        IL6  CHEBI:16240  hydrogen peroxide  0.566719
4  HGNC:6018        IL6  CHEBI:33216        bisphenol A  0.558521

    n2 - id  n2 - name      n3 - id    n3 - name      score
0  HGNC:3796        FOS   CHEBI:2679  amphetamine  0.692647
1  HGNC:3023       DRD2  CHEBI:18243     dopamine  0.671040
2  HGNC:3024       DRD3  CHEBI:18243     dopamine  0.660264
3  HGNC:3020       DRD1  CHEBI:18243     dopamine  0.657603
4  HGNC:6877      MAPK3  CHEBI:18243     dopamine  0.643858

     n2 - id  n2 - name      n3 - id          n3 - name      score
0    HGNC:667       RHOA  CHEBI:18243           dopamine  1.090633
1   HGNC:6871      MAPK1  CHEBI:18243           dopamine  1.078417
2   HGNC:6877      MAPK3  CHEBI:18243           dopamine  1.026471
3   HGNC:1516        CAT  CHEBI:16240  hydrogen peroxide  0.682619
4  HGNC:11138       SNCA  CHEBI:28201           rotenone  0.668856

Empty DataFrame
Columns: []
Index: []

    n2 - id  n2 - name      n3 - id  n3 - name      score
0  HGNC:3023       DRD2  CHEBI:18243   dopamine  0.822999
1  HGNC:3024       DRD3  CHEBI:18243   dopamine  0.812756
2  HGNC:3020       DRD1  CHEBI:18243   dopamine  0.811302
3  HGNC:3024       DRD3  CHEBI:18243   dopamine  0.805151
4  HGNC:6877      MAPK3  CHEBI:18243   dopamine  0.794653

    n2 - id  n2 - name      n3 - id      n3 - name      score
0  HGNC:7978      NR3C1  CHEBI:17650       cortisol  0.565927
1  HGNC:3796        FOS  CHEBI:17303       morphine  0.496821
2  HGNC:3796        FOS   CHEBI:2679    amphetamine  0.487054
3  HGNC:2637     CYP3A4  CHEBI:41879  dexamethasone  0.466179
4  HGNC:6018        IL6  CHEBI:17303       morphine  0.465486

    n2 - id  n2 - name      n3 - id      n3 - name      score
0    HGNC:40      ABCB1  CHEBI:45863     paclitaxel  0.527475
1    HGNC:40      ABCB1  CHEBI:28077     rifampicin  0.491038
2    HGNC:40      ABCB1  CHEBI:39867  valproic acid  0.477221
3  HGNC:5464       IGF1  CHEBI:17026   progesterone  0.472310
4    HGNC:40      ABCB1   CHEBI:8069  phenobarbital  0.471321

     n2 - id  n2 - name       n3 - id       n3 - name      score
0  HGNC:11998       TP53    CHEBI:4911       etoposide  0.703584
1  HGNC:11998       TP53   CHEBI:46345  5-fluorouracil  0.702902
2     HGNC:40      ABCB1   CHEBI:45863      paclitaxel  0.689307
3  HGNC:11998       TP53  CHEBI:175901     gemcitabine  0.648136
4  HGNC:11998       TP53   CHEBI:31941     oxaliplatin  0.638767

    n2 - id  n2 - name      n3 - id          n3 - name      score
0  HGNC:7782     NFE2L2  CHEBI:16243          quercetin  0.435472
1  HGNC:1516        CAT  CHEBI:16240  hydrogen peroxide  0.434348
2  HGNC:1516        CAT  CHEBI:33216        bisphenol A  0.423825
3  HGNC:1516        CAT   CHEBI:9288       streptozocin  0.422588
4  HGNC:1516        CAT  CHEBI:28201           rotenone  0.420294

    n2 - id  n2 - name      n3 - id          n3 - name      score
0  HGNC:1516        CAT  CHEBI:16240  hydrogen peroxide  0.574671
1  HGNC:6018        IL6  CHEBI:16240  hydrogen peroxide  0.568475
2  HGNC:6018        IL6  CHEBI:46195        paracetamol  0.553840
3  HGNC:6018        IL6  CHEBI:17303           morphine  0.531337
4  HGNC:5013      HMOX1  CHEBI:16240  hydrogen peroxide  0.527748

    n2 - id  n2 - name      n3 - id         n3 - name      score
0  HGNC:1046    BHLHE40   CHEBI:4031     cyclosporin A  0.288036
1  HGNC:1046    BHLHE40  CHEBI:33216       bisphenol A  0.261152
2  HGNC:1046    BHLHE40  CHEBI:39867     valproic acid  0.195685
3  HGNC:1046    BHLHE40  CHEBI:26689  singlet dioxygen  0.194059
4  HGNC:1046    BHLHE40  CHEBI:27140  triplet dioxygen  0.169128

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

    n2 - id  n2 - name      n3 - id        n3 - name      score
0  HGNC:7978      NR3C1  CHEBI:17650         cortisol  0.619937
1  HGNC:7782     NFE2L2  CHEBI:16243        quercetin  0.553147
2  HGNC:7978      NR3C1  CHEBI:41879    dexamethasone  0.545051
3  HGNC:6018        IL6  CHEBI:29678  sodium arsenite  0.540646
4  HGNC:6018        IL6  CHEBI:16236          ethanol  0.540019

     n2 - id  n2 - name      n3 - id          n3 - name      score
0  HGNC:11892        TNF  CHEBI:46195        paracetamol  0.559810
1  HGNC:11892        TNF  CHEBI:33101   nitrogen dioxide  0.543461
2  HGNC:11892        TNF  CHEBI:27958            cocaine  0.529933
3  HGNC:11892        TNF  CHEBI:16236            ethanol  0.523949
4  HGNC:11892        TNF  CHEBI:16240  hydrogen peroxide  0.510743

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

     n2 - id  n2 - name      n3 - id       n3 - name      score
0    HGNC:992     BCL2L1  CHEBI:41879   dexamethasone  0.441520
1    HGNC:992     BCL2L1  CHEBI:39867   valproic acid  0.401360
2    HGNC:992     BCL2L1  CHEBI:46195     paracetamol  0.401021
3    HGNC:992     BCL2L1  CHEBI:17026    progesterone  0.400985
4  HGNC:10969    SLC22A5  CHEBI:32509  pirinixic acid  0.303674

     n2 - id  n2 - name       n3 - id       n3 - name      score
0  HGNC:11998       TP53   CHEBI:46345  5-fluorouracil  0.575376
1  HGNC:11998       TP53  CHEBI:175901     gemcitabine  0.537468
2  HGNC:11998       TP53    CHEBI:4911       etoposide  0.536121
3   HGNC:1511      CASP9  CHEBI:175901     gemcitabine  0.532829
4  HGNC:11998       TP53   CHEBI:27656    camptothecin  0.529152

     n2 - id  n2 - name      n3 - id         n3 - name      score
0  HGNC:11892        TNF  CHEBI:16236           ethanol  0.366814
1  HGNC:11892        TNF  CHEBI:46195       paracetamol  0.366041
2  HGNC:11892        TNF  CHEBI:33101  nitrogen dioxide  0.363804
3  HGNC:11892        TNF  CHEBI:27958           cocaine  0.346500
4  HGNC:11892        TNF  CHEBI:17303          morphine  0.346500

     n2 - id  n2 - name      n3 - id          n3 - name      score
0  HGNC:11892        TNF  CHEBI:16240  hydrogen peroxide  0.580019
1  HGNC:11892        TNF  CHEBI:16236            ethanol  0.520251
2  HGNC:11892        TNF  CHEBI:16811         methionine  0.475912
3  HGNC:11763       TFRC  CHEBI:16236            ethanol  0.463518
4  HGNC:11892        TNF  CHEBI:46195        paracetamol  0.411043

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

     n2 - id  n2 - name      n3 - id          n3 - name      score
0  HGNC:12716      TRPV1   CHEBI:3374          capsaicin  0.506636
1  HGNC:12716      TRPV1   CHEBI:2700         anandamide  0.474660
2    HGNC:990       BCL2  CHEBI:16236            ethanol  0.448371
3    HGNC:990       BCL2  CHEBI:45863         paclitaxel  0.444493
4    HGNC:990       BCL2  CHEBI:16240  hydrogen peroxide  0.437302

    n2 - id  n2 - name      n3 - id             n3 - name      score
0    HGNC:53      ABCC2  CHEBI:29678       sodium arsenite  0.433936
1  HGNC:2874       NQO1  CHEBI:29865        benzo[a]pyrene  0.433313
2  HGNC:2874       NQO1  CHEBI:29678       sodium arsenite  0.430911
3  HGNC:2874       NQO1  CHEBI:34342  3-methylcholanthrene  0.429356
4  HGNC:2874       NQO1   CHEBI:3962              curcumin  0.424586

     n2 - id  n2 - name      n3 - id  n3 - name      score
0  HGNC:11892        TNF  CHEBI:27958    cocaine  0.452450
1  HGNC:11048     SLC6A2  CHEBI:27958    cocaine  0.438958
2   HGNC:3023       DRD2  CHEBI:18243   dopamine  0.438406
3  HGNC:11049     SLC6A3  CHEBI:27958    cocaine  0.436290
4   HGNC:3020       DRD1  CHEBI:18243   dopamine  0.435000

     n2 - id  n2 - name      n3 - id             n3 - name      score
0  HGNC:11892        TNF  CHEBI:17303              morphine  0.473253
1  HGNC:11892        TNF  CHEBI:15365  acetylsalicylic acid  0.467713
2   HGNC:3024       DRD3  CHEBI:18243              dopamine  0.443514
3    HGNC:992     BCL2L1  CHEBI:41879         dexamethasone  0.434714
4   HGNC:5992       IL1B  CHEBI:15422                   ATP  0.421108

Empty DataFrame
Columns: []
Index: []

     n2 - id  n2 - name      n3 - id    n3 - name      score
0     HGNC:40      ABCB1  CHEBI:45863   paclitaxel  0.500427
1     HGNC:40      ABCB1  CHEBI:45863   paclitaxel  0.491265
2     HGNC:40      ABCB1  CHEBI:45863   paclitaxel  0.479827
3  HGNC:11998       TP53   CHEBI:4911    etoposide  0.466655
4  HGNC:12680      VEGFA   CHEBI:4305  dacarbazine  0.463935

     n2 - id  n2 - name      n3 - id          n3 - name      score
0  HGNC:11892        TNF  CHEBI:16240  hydrogen peroxide  0.603622
1   HGNC:1516        CAT  CHEBI:16240  hydrogen peroxide  0.599482
2   HGNC:1516        CAT  CHEBI:16240  hydrogen peroxide  0.580152
3  HGNC:11180       SOD2  CHEBI:16240  hydrogen peroxide  0.555113
4   HGNC:9449       PRNP  CHEBI:39867      valproic acid  0.548847

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

    n2 - id  n2 - name      n3 - id      n3 - name      score
0  HGNC:2596     CYP1A2   CHEBI:8069  phenobarbital  0.401843
1  HGNC:2631     CYP2E1  CHEBI:16236        ethanol  0.395748
2  HGNC:2631     CYP2E1  CHEBI:46195    paracetamol  0.389738
3  HGNC:3024       DRD3  CHEBI:18243       dopamine  0.387178
4  HGNC:2631     CYP2E1  CHEBI:15347        acetone  0.381824

Empty DataFrame
Columns: []
Index: []

     n2 - id  n2 - name      n3 - id  n3 - name      score
0  HGNC:11892        TNF  CHEBI:27958    cocaine  0.452450
1  HGNC:11048     SLC6A2  CHEBI:27958    cocaine  0.438958
2   HGNC:3023       DRD2  CHEBI:18243   dopamine  0.438406
3  HGNC:11049     SLC6A3  CHEBI:27958    cocaine  0.436290
4   HGNC:3020       DRD1  CHEBI:18243   dopamine  0.435000

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

    n2 - id  n2 - name      n3 - id          n3 - name      score
0  HGNC:5992       IL1B  CHEBI:15422                ATP  0.439410
1    HGNC:40      ABCB1  CHEBI:46195        paracetamol  0.437209
2  HGNC:6018        IL6  CHEBI:16240  hydrogen peroxide  0.434750
3  HGNC:6018        IL6  CHEBI:46195        paracetamol  0.430204
4  HGNC:9605      PTGS2  CHEBI:16240  hydrogen peroxide  0.429354

    n2 - id  n2 - name      n3 - id   n3 - name      score
0  HGNC:2631     CYP2E1  CHEBI:16236     ethanol  0.391144
1  HGNC:2615     CYP2B6  CHEBI:28077  rifampicin  0.390550
2  HGNC:2623     CYP2C9  CHEBI:28077  rifampicin  0.390436
3  HGNC:2615     CYP2B6   CHEBI:8107   phenytoin  0.383546
4  HGNC:2622     CYP2C8  CHEBI:28077  rifampicin  0.382113

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

     n2 - id  n2 - name      n3 - id      n3 - name      score
0  HGNC:11920        FAS  CHEBI:27504    mitomycin C  0.343293
1   HGNC:2594    CYP19A1  CHEBI:17026   progesterone  0.340008
2  HGNC:11920        FAS  CHEBI:44185   methotrexate  0.324045
3   HGNC:9604      PTGS1  CHEBI:41879  dexamethasone  0.303558
4   HGNC:2595     CYP1A1  CHEBI:41879  dexamethasone  0.303497

     n2 - id  n2 - name      n3 - id          n3 - name      score
0   HGNC:1516        CAT  CHEBI:16240  hydrogen peroxide  0.516117
1   HGNC:1516        CAT   CHEBI:3750         clofibrate  0.511137
2   HGNC:1516        CAT  CHEBI:28201           rotenone  0.500678
3  HGNC:11180       SOD2  CHEBI:16236            ethanol  0.495829
4  HGNC:11180       SOD2  CHEBI:28201           rotenone  0.489917

     n2 - id  n2 - name      n3 - id      n3 - name      score
0   HGNC:2637     CYP3A4   CHEBI:8107      phenytoin  0.381763
1   HGNC:2637     CYP3A4   CHEBI:8069  phenobarbital  0.366287
2  HGNC:10585      SCN1A  CHEBI:39867  valproic acid  0.364000
3   HGNC:2637     CYP3A4  CHEBI:41879  dexamethasone  0.351378
4   HGNC:2637     CYP3A4  CHEBI:45863     paclitaxel  0.341915

     n2 - id  n2 - name      n3 - id          n3 - name      score
0  HGNC:11998       TP53  CHEBI:46345     5-fluorouracil  0.423609
1   HGNC:1516        CAT   CHEBI:3387      carbamazepine  0.414473
2  HGNC:11998       TP53  CHEBI:28680         cytarabine  0.409135
3  HGNC:11998       TP53  CHEBI:27504        mitomycin C  0.407760
4   HGNC:6018        IL6  CHEBI:16240  hydrogen peroxide  0.406399

Empty DataFrame
Columns: []
Index: []

    n2 - id  n2 - name      n3 - id          n3 - name      score
0  HGNC:1516        CAT  CHEBI:16240  hydrogen peroxide  0.493747
1  HGNC:7873       NOS2  CHEBI:46195        paracetamol  0.444069
2  HGNC:1516        CAT  CHEBI:46195        paracetamol  0.427251
3  HGNC:1516        CAT  CHEBI:49662        indometacin  0.414950
4  HGNC:7873       NOS2  CHEBI:16236            ethanol  0.414093

    n2 - id  n2 - name      n3 - id      n3 - name      score
0  HGNC:1960     CHRNA7  CHEBI:15355  acetylcholine  0.503378
1  HGNC:3023       DRD2   CHEBI:5613    haloperidol  0.460646
2  HGNC:3023       DRD2  CHEBI:18243       dopamine  0.458207
3  HGNC:1960     CHRNA7  CHEBI:17688   (S)-nicotine  0.434712
4  HGNC:1960     CHRNA7  CHEBI:28313    nornicotine  0.407453

     n2 - id  n2 - name      n3 - id          n3 - name      score
0   HGNC:9035    PLA2G4A  CHEBI:15422                ATP  0.283642
1    HGNC:644         AR  CHEBI:33216        bisphenol A  0.282812
2    HGNC:644         AR  CHEBI:17026       progesterone  0.275842
3    HGNC:644         AR  CHEBI:17823         calcitriol  0.263030
4  HGNC:11998       TP53  CHEBI:16240  hydrogen peroxide  0.260247

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

     n2 - id  n2 - name      n3 - id          n3 - name      score
0  HGNC:11892        TNF  CHEBI:16240  hydrogen peroxide  0.582543
1   HGNC:1516        CAT  CHEBI:16240  hydrogen peroxide  0.581594
2   HGNC:1516        CAT  CHEBI:16240  hydrogen peroxide  0.531045
3   HGNC:5992       IL1B  CHEBI:15422                ATP  0.519499
4  HGNC:11892        TNF  CHEBI:16236            ethanol  0.519165

Empty DataFrame
Columns: []
Index: []