# Workflow 1, Module 2 direct (no pathway expansion) examples

In [1]:
#To make nicer looking outputs
from IPython.core.display import display, HTML
import requests

#Load some functions for parsing quick output
import os
import sys
module_path = os.path.abspath(os.path.join('../../..'))
if module_path not in sys.path:
    sys.path.append(module_path)
from gg_functions import parse_answer, get_view_url

#load in some example disease lists to try
example_path = os.path.abspath(os.path.join('../../../examples'))
sys.path.append(example_path)
from disease_lists import rare_diseases, common_diseases

diseases = rare_diseases+common_diseases

robokop='robokop.renci.org'

In [2]:
#This is the templated query that goes (disease)-(gene)-(drug)
turl=lambda robokop,disease_id,disease_name: f'http://{robokop}/api/simple/quick/template/wf1mod2_direct/{disease_id}/?name1={disease_name}&max_connectivity=1000'

for disease_id, disease_name in diseases:
    url = turl(robokop,disease_id,disease_name)
    display(HTML(f'<h3>{disease_name}</h3>'))
    response = requests.get(url)
    if response.status_code != 200:
        print('Error')
        continue
    answers=response.json()
    view_url = get_view_url(answers)
    display(HTML(f'<a href={view_url}>View Answer in ROBOKOP</a>'))
    answer_frame = parse_answer(answers,node_list=['n2'],edge_list=[])
    display(answer_frame.head())

      n2 - id          n2 - name      score
0  CHEBI:29678    sodium arsenite  0.685967
1  CHEBI:16240  hydrogen peroxide  0.673968
2  CHEBI:31941        oxaliplatin  0.574971
3   CHEBI:3139       bleomycin A2  0.532481
4  CHEBI:29678    sodium arsenite  0.520403

      n2 - id          n2 - name      score
0  CHEBI:16240  hydrogen peroxide  0.612658
1  CHEBI:16240  hydrogen peroxide  0.470393
2   CHEBI:3962           curcumin  0.456579
3  CHEBI:49668          gefitinib  0.454458
4  CHEBI:31941        oxaliplatin  0.428915

      n2 - id                   n2 - name      score
0  CHEBI:16240           hydrogen peroxide  0.379980
1  CHEBI:28201                    rotenone  0.279880
2  CHEBI:31941                 oxaliplatin  0.246816
3  CHEBI:34342        3-methylcholanthrene  0.246816
4  CHEBI:16027  adenosine 5'-monophosphate  0.173773

      n2 - id    n2 - name      score
0  CHEBI:31941  oxaliplatin  0.469613
1  CHEBI:52717   bortezomib  0.172705

      n2 - id             n2 - name      score
0  CHEBI:28088             genistein  0.781815
1  CHEBI:41500  4-phenylbutyric acid  0.751353
2  CHEBI:42471             forskolin  0.737284
3  CHEBI:50122         rosiglitazone  0.734526
4   CHEBI:5441             glyburide  0.710310

      n2 - id      n2 - name      score
0  CHEBI:75984     flecainide  0.777763
1   CHEBI:6456      lidocaine  0.777261
2  CHEBI:28593      quinidine  0.776896
3  CHEBI:15355  acetylcholine  0.750312
4   CHEBI:5138    fluvoxamine  0.626972

Empty DataFrame
Columns: []
Index: []

      n2 - id     n2 - name      score
0  CHEBI:41977  daunorubicin  0.519264

      n2 - id                                          n2 - name      score
0  CHEBI:25812                                              ozone  0.450575
1  CHEBI:33101                                   nitrogen dioxide  0.450541
2  CHEBI:50867                                       ciprofibrate  0.439321
3  CHEBI:77649  2-methyl-2-[4-(1,2,3,4-tetrahydronaphthalen-1-...  0.439321
4   CHEBI:9449                                        terbutaline  0.433288

Empty DataFrame
Columns: []
Index: []

       n2 - id          n2 - name      score
0   CHEBI:16240  hydrogen peroxide  0.713040
1   CHEBI:50122      rosiglitazone  0.477934
2  CHEBI:137113                JQ1  0.435505
3   CHEBI:95080           LSM-6332  0.435505
4   CHEBI:50867       ciprofibrate  0.380243

      n2 - id               n2 - name      score
0   CHEBI:9288            streptozocin  0.743608
1   CHEBI:9168               sirolimus  0.696472
2  CHEBI:35549  perfluorooctanoic acid  0.696245
3   CHEBI:5441               glyburide  0.647424
4  CHEBI:27999             tolbutamide  0.646824

      n2 - id      n2 - name      score
0  CHEBI:16236        ethanol  0.896049
1  CHEBI:47612    bezafibrate  0.757948
2  CHEBI:27958        cocaine  0.742672
3   CHEBI:9753   troglitazone  0.712780
4   CHEBI:9334  sulfasalazine  0.711821

      n2 - id                        n2 - name      score
0  CHEBI:17823                       calcitriol  0.685120
1  CHEBI:37537  phorbol 13-acetate 12-myristate  0.619891
2  CHEBI:16811                       methionine  0.613884
3  CHEBI:28262               dimethyl sulfoxide  0.592178
4  CHEBI:16811                       methionine  0.591911

      n2 - id                                          n2 - name      score
0   CHEBI:4450                                       desmopressin  0.705812
1  CHEBI:17015                                         riboflavin  0.517838
2  CHEBI:50867                                       ciprofibrate  0.513060
3  CHEBI:77649  2-methyl-2-[4-(1,2,3,4-tetrahydronaphthalen-1-...  0.513060
4   CHEBI:3011                                         benazepril  0.479746

      n2 - id                            n2 - name      score
0  CHEBI:16236                              ethanol  0.796978
1  CHEBI:16240                    hydrogen peroxide  0.772728
2  CHEBI:86368  manganese(II) chloride tetrahydrate  0.544950
3  CHEBI:28201                             rotenone  0.515246
4  CHEBI:48538                          apomorphine  0.494477

       n2 - id          n2 - name      score
0   CHEBI:16240  hydrogen peroxide  0.682190
1   CHEBI:50122      rosiglitazone  0.463892
2  CHEBI:137113                JQ1  0.423820
3   CHEBI:95080           LSM-6332  0.423820
4   CHEBI:16240  hydrogen peroxide  0.370903

      n2 - id          n2 - name      score
0  CHEBI:28201           rotenone  0.844605
1  CHEBI:75408   sulindac sulfide  0.806182
2  CHEBI:29678    sodium arsenite  0.727221
3  CHEBI:16240  hydrogen peroxide  0.707021
4  CHEBI:16236            ethanol  0.669238

      n2 - id                        n2 - name      score
0  CHEBI:34674                  dextran sulfate  0.580155
1  CHEBI:16240                hydrogen peroxide  0.559391
2  CHEBI:49662                      indometacin  0.549935
3  CHEBI:16236                          ethanol  0.547676
4  CHEBI:37537  phorbol 13-acetate 12-myristate  0.547507

      n2 - id          n2 - name      score
0   CHEBI:4305        dacarbazine  0.892796
1  CHEBI:16240  hydrogen peroxide  0.885700
2  CHEBI:16243          quercetin  0.885641
3  CHEBI:25812              ozone  0.854645
4  CHEBI:33101   nitrogen dioxide  0.834930

      n2 - id             n2 - name      score
0  CHEBI:28088             genistein  1.163484
1  CHEBI:41500  4-phenylbutyric acid  1.088787
2  CHEBI:16243             quercetin  1.065990
3  CHEBI:42471             forskolin  1.065461
4   CHEBI:5441             glyburide  0.995620

      n2 - id                        n2 - name      score
0   CHEBI:9449                      terbutaline  0.472842
1   CHEBI:9449                      terbutaline  0.391063
2  CHEBI:37537  phorbol 13-acetate 12-myristate  0.335291
3  CHEBI:73284  N-ethyl-5'-carboxamidoadenosine  0.335291
4  CHEBI:73284  N-ethyl-5'-carboxamidoadenosine  0.289307

      n2 - id          n2 - name      score
0  CHEBI:50122      rosiglitazone  1.125753
1   CHEBI:9288       streptozocin  1.105086
2  CHEBI:16240  hydrogen peroxide  1.059031
3  CHEBI:50122      rosiglitazone  0.905881
4  CHEBI:28077         rifampicin  0.901270

      n2 - id                          n2 - name      score
0  CHEBI:16236                            ethanol  0.915514
1  CHEBI:29678                    sodium arsenite  0.904768
2  CHEBI:31746                        kainic acid  0.688472
3   CHEBI:6809                    methamphetamine  0.639126
4   CHEBI:1391  3,4-methylenedioxymethamphetamine  0.585557

      n2 - id          n2 - name      score
0  CHEBI:47808   (R)-sulforaphane  0.647437
1  CHEBI:28901           busulfan  0.631295
2  CHEBI:25812              ozone  0.595389
3  CHEBI:16240  hydrogen peroxide  0.595094
4  CHEBI:28830       chlorambucil  0.502314

      n2 - id          n2 - name      score
0  CHEBI:28201           rotenone  1.197093
1  CHEBI:48607   lithium chloride  1.171666
2  CHEBI:16240  hydrogen peroxide  1.165670
3  CHEBI:29678    sodium arsenite  1.147525
4  CHEBI:75408   sulindac sulfide  1.133084

      n2 - id       n2 - name      score
0  CHEBI:28201        rotenone  0.625657
1  CHEBI:28201        rotenone  0.460041
2  CHEBI:15741   succinic acid  0.410016
3  CHEBI:16526  carbon dioxide  0.382722
4  CHEBI:28201        rotenone  0.358740

      n2 - id                    n2 - name      score
0  CHEBI:34687            dibutyl phthalate  0.717262
1  CHEBI:34679         Di-n-octyl phthalate  0.667428
2  CHEBI:17747  bis(2-ethylhexyl) phthalate  0.667428
3  CHEBI:44237    N-butylbenzenesulfonamide  0.667428
4  CHEBI:78543                    ponatinib  0.570353

      n2 - id      n2 - name      score
0  CHEBI:50122  rosiglitazone  0.708477
1  CHEBI:16811     methionine  0.706585
2  CHEBI:16236        ethanol  0.689959
3  CHEBI:16811     methionine  0.638045
4   CHEBI:3139   bleomycin A2  0.577203

      n2 - id                                          n2 - name      score
0  CHEBI:28201                                           rotenone  0.390876
1  CHEBI:77649  2-methyl-2-[4-(1,2,3,4-tetrahydronaphthalen-1-...  0.372153
2  CHEBI:50867                                       ciprofibrate  0.372153
3  CHEBI:10101                                        zalcitabine  0.362061
4  CHEBI:28201                                           rotenone  0.320847

      n2 - id                 n2 - name      score
0  CHEBI:17026              progesterone  0.404321
1  CHEBI:29678           sodium arsenite  0.386601
2  CHEBI:28088                 genistein  0.376017
3  CHEBI:50740  raloxifene hydrochloride  0.375256
4   CHEBI:3962                  curcumin  0.359065

      n2 - id                        n2 - name      score
0   CHEBI:9449                      terbutaline  0.472842
1   CHEBI:9449                      terbutaline  0.391063
2  CHEBI:37537  phorbol 13-acetate 12-myristate  0.335291
3  CHEBI:73284  N-ethyl-5'-carboxamidoadenosine  0.335291
4  CHEBI:73284  N-ethyl-5'-carboxamidoadenosine  0.289307

      n2 - id                   n2 - name      score
0  CHEBI:28680                  cytarabine  0.311572
1  CHEBI:60761                 floxuridine  0.228200
2  CHEBI:60039        L-proline zwitterion  0.213127
3  CHEBI:16027  adenosine 5'-monophosphate  0.213127
4  CHEBI:58048     L-asparagine zwitterion  0.213127

      n2 - id               n2 - name      score
0  CHEBI:46632  clonidine (amino form)  0.862753
1   CHEBI:3757  clonidine (imino form)  0.862753
2   CHEBI:3181           bromocriptine  0.633388
3   CHEBI:3181           bromocriptine  0.542066
4  CHEBI:17026            progesterone  0.541624

      n2 - id                          n2 - name      score
0  CHEBI:16240                  hydrogen peroxide  0.611830
1  CHEBI:16243                          quercetin  0.538015
2  CHEBI:76591  (25R)-cholest-5-ene-3beta,26-diol  0.529880
3  CHEBI:29678                    sodium arsenite  0.528866
4  CHEBI:64317                       isoprenaline  0.505072

       n2 - id          n2 - name      score
0  CHEBI:529996     cytochalasin D  0.597400
1   CHEBI:34674    dextran sulfate  0.580155
2   CHEBI:16240  hydrogen peroxide  0.559391
3   CHEBI:49662        indometacin  0.549935
4   CHEBI:16236            ethanol  0.547676

      n2 - id              n2 - name      score
0   CHEBI:8093          phenylephrine  0.778964
1  CHEBI:17224  4-methylumbelliferone  0.758150
2  CHEBI:44915               propofol  0.676170
3  CHEBI:34342   3-methylcholanthrene  0.635363
4  CHEBI:28077             rifampicin  0.621443

      n2 - id        n2 - name      score
0  CHEBI:16480     nitric oxide  0.369281
1  CHEBI:17245  carbon monoxide  0.369150
2  CHEBI:28077       rifampicin  0.350444
3   CHEBI:8426       probenecid  0.350442
4   CHEBI:5441        glyburide  0.350434

      n2 - id        n2 - name      score
0  CHEBI:17026     progesterone  0.464607
1  CHEBI:16828     L-tryptophan  0.463825
2  CHEBI:16796        melatonin  0.423406
3  CHEBI:27958          cocaine  0.423282
4   CHEBI:6809  methamphetamine  0.422747

      n2 - id               n2 - name      score
0  CHEBI:46632  clonidine (amino form)  0.862753
1   CHEBI:3757  clonidine (imino form)  0.862753
2   CHEBI:3181           bromocriptine  0.633388
3   CHEBI:3181           bromocriptine  0.542066
4  CHEBI:17026            progesterone  0.541624

      n2 - id            n2 - name      score
0  CHEBI:17754             glycerol  0.384206
1   CHEBI:4450         desmopressin  0.375562
2   CHEBI:8093        phenylephrine  0.331756
3   CHEBI:7459             naloxone  0.312244
4   CHEBI:5778  hydrochlorothiazide  0.311963

      n2 - id      n2 - name      score
0  CHEBI:28201       rotenone  0.645408
1  CHEBI:28201       rotenone  0.632201
2  CHEBI:31521  doxifluridine  0.628669
3  CHEBI:28201       rotenone  0.615106
4   CHEBI:3750     clofibrate  0.571079

      n2 - id                                          n2 - name      score
0  CHEBI:16236                                            ethanol  0.599575
1  CHEBI:50867                                       ciprofibrate  0.372153
2  CHEBI:77649  2-methyl-2-[4-(1,2,3,4-tetrahydronaphthalen-1-...  0.372153
3  CHEBI:16243                                          quercetin  0.348112
4  CHEBI:75998                                         trametinib  0.326123

      n2 - id                                          n2 - name      score
0  CHEBI:16240                                  hydrogen peroxide  0.935215
1  CHEBI:76612                                          ibrutinib  0.887513
2  CHEBI:91397  1-[3-[4-amino-3-(4-phenoxyphenyl)-1-pyrazolo[3...  0.755963
3   CHEBI:6067                                       isotretinoin  0.688002
4   CHEBI:3962                                           curcumin  0.686065

      n2 - id        n2 - name      score
0  CHEBI:28201         rotenone  1.025359
1  CHEBI:28201         rotenone  0.827166
2  CHEBI:28201         rotenone  0.725735
3   CHEBI:6809  methamphetamine  0.716205
4  CHEBI:28201         rotenone  0.684675

      n2 - id         n2 - name      score
0   CHEBI:8093     phenylephrine  0.926048
1   CHEBI:8093     phenylephrine  0.778287
2   CHEBI:8093     phenylephrine  0.752427
3  CHEBI:15551  prostaglandin E2  0.661835
4  CHEBI:16811        methionine  0.612804

      n2 - id                        n2 - name      score
0  CHEBI:27958                          cocaine  1.095717
1  CHEBI:34342             3-methylcholanthrene  1.080738
2  CHEBI:15355                    acetylcholine  0.894258
3  CHEBI:16243                        quercetin  0.889383
4  CHEBI:81506  2,3,7,8-Tetrachlorodibenzofuran  0.872803

      n2 - id                                          n2 - name      score
0  CHEBI:77649  2-methyl-2-[4-(1,2,3,4-tetrahydronaphthalen-1-...  0.632533
1  CHEBI:50867                                       ciprofibrate  0.632533
2  CHEBI:35549                             perfluorooctanoic acid  0.595763
3  CHEBI:47612                                        bezafibrate  0.565448
4   CHEBI:3750                                         clofibrate  0.564400

Empty DataFrame
Columns: []
Index: []

      n2 - id          n2 - name      score
0  CHEBI:28201           rotenone  0.844605
1  CHEBI:75408   sulindac sulfide  0.806182
2  CHEBI:29678    sodium arsenite  0.727221
3  CHEBI:16240  hydrogen peroxide  0.707021
4  CHEBI:16236            ethanol  0.669238

      n2 - id                        n2 - name      score
0  CHEBI:34674                  dextran sulfate  0.580155
1  CHEBI:16240                hydrogen peroxide  0.559391
2  CHEBI:49662                      indometacin  0.549935
3  CHEBI:16236                          ethanol  0.547676
4  CHEBI:37537  phorbol 13-acetate 12-myristate  0.547507

      n2 - id                        n2 - name      score
0  CHEBI:25812                            ozone  0.419587
1   CHEBI:8093                    phenylephrine  0.359389
2  CHEBI:33101                 nitrogen dioxide  0.349290
3   CHEBI:9168                        sirolimus  0.311879
4  CHEBI:37537  phorbol 13-acetate 12-myristate  0.278985

      n2 - id          n2 - name      score
0  CHEBI:16240  hydrogen peroxide  0.529932
1   CHEBI:9288       streptozocin  0.471575
2  CHEBI:50122      rosiglitazone  0.471564
3  CHEBI:17026       progesterone  0.442129
4   CHEBI:3139       bleomycin A2  0.438496

      n2 - id          n2 - name      score
0  CHEBI:16240  hydrogen peroxide  0.432063
1  CHEBI:16240  hydrogen peroxide  0.420630
2   CHEBI:9288       streptozocin  0.420577
3  CHEBI:16240  hydrogen peroxide  0.419544
4  CHEBI:16236            ethanol  0.418330

      n2 - id               n2 - name      score
0  CHEBI:46632  clonidine (amino form)  0.862753
1   CHEBI:3757  clonidine (imino form)  0.862753
2   CHEBI:3181           bromocriptine  0.633388
3   CHEBI:3181           bromocriptine  0.542066
4  CHEBI:17026            progesterone  0.541624

      n2 - id             n2 - name      score
0  CHEBI:16236               ethanol  0.979957
1  CHEBI:28088             genistein  0.918036
2  CHEBI:41500  4-phenylbutyric acid  0.874342
3  CHEBI:50729          mitoxantrone  0.872861
4  CHEBI:42471             forskolin  0.854600

      n2 - id          n2 - name      score
0   CHEBI:9288       streptozocin  1.128425
1  CHEBI:16240  hydrogen peroxide  1.110819
2  CHEBI:16240  hydrogen peroxide  1.067374
3  CHEBI:50867       ciprofibrate  1.045587
4   CHEBI:9288       streptozocin  1.044835

      n2 - id          n2 - name      score
0  CHEBI:50924          sorafenib  0.940519
1  CHEBI:16243          quercetin  0.900257
2  CHEBI:16240  hydrogen peroxide  0.900237
3   CHEBI:8093      phenylephrine  0.859840
4  CHEBI:50122      rosiglitazone  0.836602

      n2 - id             n2 - name      score
0  CHEBI:34342  3-methylcholanthrene  1.081512
1  CHEBI:50729          mitoxantrone  0.970754
2  CHEBI:29678       sodium arsenite  0.943168
3  CHEBI:16240     hydrogen peroxide  0.935554
4   CHEBI:4305           dacarbazine  0.927365

      n2 - id      n2 - name      score
0  CHEBI:16236        ethanol  1.443142
1  CHEBI:47381     diclofenac  1.345715
2   CHEBI:3655  chlorzoxazone  1.322102
3   CHEBI:6030     isoniazide  1.287380
4   CHEBI:6030     isoniazide  1.227838

      n2 - id                                          n2 - name      score
0  CHEBI:16240                                  hydrogen peroxide  1.033434
1  CHEBI:50122                                      rosiglitazone  0.670716
2  CHEBI:50122                                      rosiglitazone  0.588822
3  CHEBI:50122                                      rosiglitazone  0.544384
4  CHEBI:77649  2-methyl-2-[4-(1,2,3,4-tetrahydronaphthalen-1-...  0.543132

      n2 - id                                          n2 - name      score
0  CHEBI:77649  2-methyl-2-[4-(1,2,3,4-tetrahydronaphthalen-1-...  0.513215
1  CHEBI:50867                                       ciprofibrate  0.513215
2  CHEBI:35549                             perfluorooctanoic acid  0.468750
3  CHEBI:30270                                                E64  0.325332
4  CHEBI:73468                                         masoprocol  0.292205

      n2 - id          n2 - name      score
0  CHEBI:28201           rotenone  1.751773
1  CHEBI:29678    sodium arsenite  1.338987
2  CHEBI:16240  hydrogen peroxide  1.151073
3  CHEBI:16240  hydrogen peroxide  1.111064
4   CHEBI:6809    methamphetamine  1.074527

      n2 - id          n2 - name      score
0  CHEBI:16240  hydrogen peroxide  1.237766
1  CHEBI:50924          sorafenib  1.137081
2  CHEBI:16240  hydrogen peroxide  1.076780
3  CHEBI:16243          quercetin  1.076771
4   CHEBI:3962           curcumin  0.981012

      n2 - id          n2 - name      score
0  CHEBI:29678    sodium arsenite  1.166423
1  CHEBI:16243          quercetin  1.099599
2  CHEBI:28787      nitroglycerin  1.098665
3  CHEBI:16236            ethanol  1.093221
4  CHEBI:16240  hydrogen peroxide  1.018519

      n2 - id          n2 - name      score
0  CHEBI:16236            ethanol  1.111002
1  CHEBI:17823         calcitriol  1.076052
2  CHEBI:16240  hydrogen peroxide  0.972784
3  CHEBI:17823         calcitriol  0.934189
4  CHEBI:17650           cortisol  0.901466

      n2 - id            n2 - name      score
0  CHEBI:50648  9-cis-retinoic acid  0.785290
1  CHEBI:28088            genistein  0.781909
2  CHEBI:42471            forskolin  0.737273
3   CHEBI:5441            glyburide  0.709114
4  CHEBI:18388             apigenin  0.698580

      n2 - id  n2 - name      score
0  CHEBI:28201   rotenone  2.051881
1  CHEBI:28201   rotenone  1.442879
2  CHEBI:18243   dopamine  1.388205
3  CHEBI:28201   rotenone  1.294702
4  CHEBI:18243   dopamine  1.266066

      n2 - id        n2 - name      score
0  CHEBI:29678  sodium arsenite  0.275278
1   CHEBI:5441        glyburide  0.211800
2  CHEBI:31905       nicorandil  0.211657
3  CHEBI:34283       oxybenzone  0.211547
4   CHEBI:3488      cefluprenam  0.192137

      n2 - id      n2 - name      score
0   CHEBI:8093  phenylephrine  1.160817
1  CHEBI:50122  rosiglitazone  1.116034
2  CHEBI:18243       dopamine  1.104693
3  CHEBI:27958        cocaine  1.033983
4  CHEBI:63630      tolcapone  0.997766

       n2 - id               n2 - name      score
0   CHEBI:46632  clonidine (amino form)  0.900242
1    CHEBI:3757  clonidine (imino form)  0.900242
2    CHEBI:3181           bromocriptine  0.847434
3   CHEBI:17026            progesterone  0.844236
4  CHEBI:107736          metoclopramide  0.831839

      n2 - id      n2 - name      score
0  CHEBI:27732       caffeine  0.837742
1  CHEBI:16236        ethanol  0.717981
2   CHEBI:5615      halothane  0.637922
3   CHEBI:8093  phenylephrine  0.619163
4   CHEBI:8093  phenylephrine  0.615161

      n2 - id          n2 - name      score
0  CHEBI:49603          lapatinib  0.879351
1   CHEBI:3962           curcumin  0.860342
2  CHEBI:16240  hydrogen peroxide  0.849405
3  CHEBI:16236            ethanol  0.757079
4  CHEBI:50122      rosiglitazone  0.725792

       n2 - id          n2 - name      score
0   CHEBI:17823         calcitriol  1.096964
1   CHEBI:50924          sorafenib  0.948416
2   CHEBI:16240  hydrogen peroxide  0.907645
3   CHEBI:16243          quercetin  0.907564
4  CHEBI:137113                JQ1  0.841832

      n2 - id        n2 - name      score
0  CHEBI:16236          ethanol  1.058027
1  CHEBI:17578          toluene  0.968915
2   CHEBI:3655    chlorzoxazone  0.888430
3   CHEBI:6030       isoniazide  0.869903
4  CHEBI:16602  trichloroethene  0.867421