# Workflow 1, Module 2 with pathway expansion examples

In [1]:
#To make nicer looking outputs
from IPython.core.display import display, HTML
import requests

#Load some functions for parsing quick output
import os
import sys
module_path = os.path.abspath(os.path.join('../../..'))
if module_path not in sys.path:
    sys.path.append(module_path)
from gg_functions import parse_answer, get_view_url

#load in some example disease lists to try
example_path = os.path.abspath(os.path.join('../../../examples'))
sys.path.append(example_path)
from disease_lists import rare_diseases, common_diseases

diseases = rare_diseases+common_diseases

robokop='robokop.renci.org'

In [2]:
#This is the templated query that goes (disease)-(gene)-(process)-(gene)-(chemical)
turl=lambda robokop,disease_id,disease_name: f'http://{robokop}/api/simple/quick/template/wf1mod2_expanded/{disease_id}/?name1={disease_name}&max_connectivity=500'

for disease_id, disease_name in diseases:
    url = turl(robokop,disease_id,disease_name)
    display(HTML(f'<h3>{disease_name}</h3>'))
    response = requests.get(url)
    if response.status_code != 200:
        print('Error')
        continue
    answers=response.json()
    view_url = get_view_url(answers)
    display(HTML(f'<a href={view_url}>View Answer in ROBOKOP</a>'))
    answer_frame = parse_answer(answers,node_list=['n1','n2','n3','n4'],edge_list=[],node_properties=['name'])
    display(answer_frame.head())

,n1 - name,n2 - name,n3 - name,n4 - name,score
0,XPA,damaged DNA binding,BRCA1,mitomycin C,0.584970
1,XPA,transcription-coupled nucleotide-excision repair,XPA,mitomycin C,0.557810
2,XPA,global genome nucleotide-excision repair,XPA,mitomycin C,0.557484
3,XPA,response to UV,XPA,mitomycin C,0.557214
4,XPA,base-excision repair,XPA,mitomycin C,0.557150

,n1 - name,n2 - name,n3 - name,n4 - name,score
0,ERCC1,single-stranded DNA binding,TOP1,camptothecin,0.506335
1,ERCC1,response to oxidative stress,SIRT1,nicotinamide,0.443926
2,ERCC1,single-stranded DNA binding,TOP1,topotecan,0.440789
3,RAD51,single-stranded DNA binding,TOP1,camptothecin,0.439235
4,ERCC1,protein domain specific binding,TOP1,camptothecin,0.433296

  n1 - name          n2 - name  n3 - name     n4 - name      score
0      ERCC6     response to UV      ERCC6      rotenone  0.411286
1      ERCC6  chromatin binding       TOP1  camptothecin  0.325896
2      ERCC8     response to UV      ERCC6      rotenone  0.317202
3      ERCC6     response to UV        XPA   mitomycin C  0.311599
4      PGBD3     response to UV      ERCC6      rotenone  0.308246

,n1 - name,n2 - name,n3 - name,n4 - name,score
0,GTF2H5,nucleotide-excision repair,ERCC1,curcumin,0.198994
1,GTF2H5,nucleotide-excision repair,ERCC1,oxaliplatin,0.186365
2,GTF2H5,nucleotide-excision repair,ERCC1,ethyl methanesulfonate,0.185862
3,GTF2H5,nucleotide-excision repair,XPC,diethylstilbestrol,0.177852
4,GTF2H5,transcription-coupled nucleotide-excision repair,XPA,mitomycin C,0.171039

  n1 - name            n2 - name  n3 - name      n4 - name      score
0        LEP  glucose homeostasis        INS  rosiglitazone  0.664575
1        INS  glucose homeostasis        LEP   troglitazone  0.648367
2        LEP  glucose homeostasis        INS   troglitazone  0.645855
3       LEPR  glucose homeostasis        INS  rosiglitazone  0.640955
4        INS  glucose homeostasis        LEP  rosiglitazone  0.624642

,n1 - name,n2 - name,n3 - name,n4 - name,score
0,CHRNB2,memory,TH,acetylcholine,0.555378
1,CHRNB2,learning,TH,acetylcholine,0.549145
2,TH,catecholamine biosynthetic process,TH,reserpine,0.546963
3,TH,dopamine biosynthetic process,TH,reserpine,0.546119
4,TH,tyrosine 3-monooxygenase activity,TH,reserpine,0.545042

,n1 - name,n2 - name,n3 - name,n4 - name,score
0,CLN3,negative regulation of neuron apoptotic process,BDNF,methamphetamine,0.430008
1,CLN3,negative regulation of neuron apoptotic process,BDNF,nitric oxide,0.400882
2,CLN3,macroautophagy,PRKAA1,AICA ribonucleotide,0.371248
3,CLN3,macroautophagy,MAP1LC3B,chloroquine,0.364162
4,CLN3,autophagosome maturation,MAP1LC3B,chloroquine,0.363998

,n1 - name,n2 - name,n3 - name,n4 - name,score
0,NPC1,cholesterol metabolic process,LDLR,curcumin,0.443426
1,NPC1,cholesterol homeostasis,LDLR,curcumin,0.441059
2,NPC1,cholesterol transport,LDLR,curcumin,0.440395
3,NPC1,steroid metabolic process,LDLR,curcumin,0.413470
4,NPC1,low-density lipoprotein particle clearance,LDLR,curcumin,0.409284

,n1 - name,n2 - name,n3 - name,n4 - name,score
0,IL13,cytokine-mediated signaling pathway,CCL11,ozone,0.322317
1,IL13,response to lipopolysaccharide,TLR4,ozone,0.318581
2,IL13,cytokine activity,EDN1,ozone,0.317574
3,IL13,cytokine activity,IL5,ozone,0.315886
4,IL13,cytokine activity,IL1A,ozone,0.311206

,n1 - name,n2 - name,n3 - name,n4 - name,score
0,ANKH,locomotory behavior,TH,acetylcholine,0.294609
1,ANKH,locomotory behavior,TH,amphetamine,0.279738
2,ANKH,regulation of bone mineralization,PHOSPHO1,lansoprazole,0.268127
3,ANKH,locomotory behavior,TH,kainic acid,0.264527
4,ANKH,locomotory behavior,TH,capsaicin,0.255861

,n1 - name,n2 - name,n3 - name,n4 - name,score
0,CAV1,triglyceride metabolic process,CAV1,rosiglitazone,0.457507
1,CAV1,lipid storage,CAV1,rosiglitazone,0.456778
2,CAV1,vasoconstriction,CAV1,acetylcholine,0.434819
3,PLIN1,lipid catabolic process,PLIN1,rosiglitazone,0.433865
4,CAV1,lipid storage,CAV1,acetylcholine,0.433655

,n1 - name,n2 - name,n3 - name,n4 - name,score
0,GCK,regulation of insulin secretion,SLC2A2,streptozocin,0.431606
1,ABCC8,regulation of insulin secretion,KCNJ11,tolbutamide,0.418638
2,ABCC8,response to drug,KCNJ11,tolbutamide,0.418349
3,IRS1,response to insulin,SIRT1,streptozocin,0.413341
4,ABCC8,negative regulation of insulin secretion,KCNJ11,tolbutamide,0.411968

,n1 - name,n2 - name,n3 - name,n4 - name,score
0,FAS,activation of cysteine-type endopeptidase acti...,FAS,mitomycin C,0.581350
1,FAS,positive regulation of apoptotic process,FAS,mitomycin C,0.581003
2,SERPINE1,fibrinolysis,SERPINE1,methionine,0.559347
3,SERPINE1,angiogenesis,SERPINE1,methionine,0.557913
4,SERPINE1,circadian rhythm,SERPINE1,methionine,0.557824

  n1 - name                     n2 - name  n3 - name     n4 - name      score
0       CCN2                         aging      TIMP1    methionine  0.667199
1       CCN2                  angiogenesis      SIRT1  nicotinamide  0.632227
2        WRN               DNA replication       TOP1  camptothecin  0.620386
3        WRN  response to oxidative stress      SIRT1  nicotinamide  0.614254
4        WRN                    cell aging      SIRT1  nicotinamide  0.614172

  n1 - name               n2 - name  n3 - name     n4 - name      score
0         F8     platelet activation        VWF  desmopressin  0.621857
1        VWF     platelet activation        VWF  desmopressin  0.621119
2         F8  platelet degranulation        VWF  desmopressin  0.620050
3        VWF        collagen binding        VWF  desmopressin  0.618877
4        VWF  platelet degranulation        VWF  desmopressin  0.616996

,n1 - name,n2 - name,n3 - name,n4 - name,score
0,HAMP,aging,HAMP,apomorphine,0.551069
1,BMP6,transforming growth factor beta receptor binding,BMP2,icariin,0.529433
2,HAMP,response to ethanol,HAMP,apomorphine,0.528716
3,HAMP,response to iron ion,HAMP,apomorphine,0.510018
4,HAMP,liver regeneration,HAMP,apomorphine,0.509722

,n1 - name,n2 - name,n3 - name,n4 - name,score
0,CAV1,angiogenesis,SIRT1,streptozocin,0.337885
1,CAV1,cholesterol homeostasis,SIRT1,streptozocin,0.337345
2,CAV1,angiogenesis,SERPINE1,rosiglitazone,0.336845
3,CAV1,cholesterol homeostasis,ABCA1,rosiglitazone,0.335310
4,CAV1,triglyceride metabolic process,GPX1,streptozocin,0.334383

,n1 - name,n2 - name,n3 - name,n4 - name,score
0,PSEN1,positive regulation of apoptotic process,BAD,sulindac sulfide,0.370953
1,SQSTM1,positive regulation of apoptotic process,SNCA,rotenone,0.370578
2,PSEN1,memory,PSEN1,sulindac sulfide,0.362320
3,CP,copper ion binding,SNCA,rotenone,0.360352
4,PSEN1,memory,CREB1,forskolin,0.350356

,n1 - name,n2 - name,n3 - name,n4 - name,score
0,CYBA,superoxide metabolic process,NCF1,streptozocin,0.362508
1,CYBA,respiratory burst,NCF1,streptozocin,0.361986
2,CYBA,superoxide anion generation,NCF1,streptozocin,0.361861
3,CYBA,electron transport chain,NCF1,streptozocin,0.357508
4,CYBA,superoxide-generating NADPH oxidase activity,NCF1,streptozocin,0.348225

  n1 - name                   n2 - name  n3 - name  n4 - name      score
0       TAC1  sensory perception of pain       TAC1  capsaicin  0.599334
1      MECP2  sensory perception of pain       TAC1  capsaicin  0.591672
2       TAC1            response to pain       TAC1  capsaicin  0.573672
3       TAC1        associative learning       TAC1  capsaicin  0.573545
4      MECP2            long-term memory       TAC1  capsaicin  0.544210

,n1 - name,n2 - name,n3 - name,n4 - name,score
0,TNFRSF1A,positive regulation of inflammatory response,TLR4,ozone,0.676575
1,SCNN1A,ligand-gated sodium channel activity,SCNN1B,amiloride,0.665475
2,SCNN1A,ligand-gated sodium channel activity,SCNN1G,amiloride,0.664855
3,SCNN1A,sensory perception of taste,SCNN1B,amiloride,0.656708
4,SCNN1A,sensory perception of taste,SCNN1G,amiloride,0.656218

  n1 - name                     n2 - name  n3 - name    n4 - name      score
0      SFTPC  respiratory gaseous exchange      SFTPB  terbutaline  0.477045
1      SFTPC  respiratory gaseous exchange      SFTPC  terbutaline  0.469105
2      SFTPB  respiratory gaseous exchange     SFTPA1        ozone  0.388279
3      SFTPB  respiratory gaseous exchange      SFTPC  terbutaline  0.376409
4      SFTPB  respiratory gaseous exchange     SFTPA2        ozone  0.373755

,n1 - name,n2 - name,n3 - name,n4 - name,score
0,ADIPOQ,glucose homeostasis,SLC2A4,rosiglitazone,0.676799
1,INS,glucose homeostasis,SLC2A4,rosiglitazone,0.652311
2,LEP,glucose homeostasis,SLC2A4,rosiglitazone,0.652116
3,ADIPOQ,brown fat cell differentiation,SLC2A4,rosiglitazone,0.631005
4,ADIPOQ,response to ethanol,SLC2A4,rosiglitazone,0.616084

,n1 - name,n2 - name,n3 - name,n4 - name,score
0,GFAP,neuron projection regeneration,GFAP,kainic acid,0.579155
1,GFAP,intermediate filament organization,GFAP,kainic acid,0.562853
2,GFAP,long-term synaptic potentiation,GFAP,kainic acid,0.558608
3,GFAP,kinase binding,GFAP,kainic acid,0.558604
4,GFAP,astrocyte development,GFAP,kainic acid,0.549042

,n1 - name,n2 - name,n3 - name,n4 - name,score
0,GSTT1,glutathione metabolic process,GSTA1,busulfan,0.431204
1,GSTT1,glutathione transferase activity,GSTA1,busulfan,0.431086
2,GSTT1,glutathione peroxidase activity,GSTA1,busulfan,0.431051
3,COL4A1,angiogenesis,SERPINE1,methionine,0.425029
4,AGXT,transaminase activity,AGXT,glycine,0.410108

,n1 - name,n2 - name,n3 - name,n4 - name,score
0,CREB1,aging,SNCA,rotenone,0.801042
1,PSEN1,memory,PSEN1,sulindac sulfide,0.789776
2,SNCA,aging,SNCA,rotenone,0.788386
3,SQSTM1,positive regulation of apoptotic process,SNCA,rotenone,0.774120
4,MT-CO1,aging,SNCA,rotenone,0.747879

,n1 - name,n2 - name,n3 - name,n4 - name,score
0,NDUFS3,reactive oxygen species metabolic process,NDUFS4,rotenone,0.580523
1,NDUFS4,reactive oxygen species metabolic process,NDUFS4,rotenone,0.575108
2,NDUFS4,NADH dehydrogenase (ubiquinone) activity,NDUFS4,rotenone,0.571416
3,NDUFS4,cellular respiration,NDUFS4,rotenone,0.570874
4,NDUFS4,reactive oxygen species metabolic process,NDUFS1,rotenone,0.569723

Empty DataFrame
Columns: []
Index: []

,n1 - name,n2 - name,n3 - name,n4 - name,score
0,COL3A1,extracellular matrix organization,COL1A1,methionine,0.664510
1,COL3A1,skin development,COL1A1,methionine,0.664504
2,COL3A1,platelet activation,COL1A1,methionine,0.657630
3,COL3A1,extracellular matrix structural constituent,COL1A1,methionine,0.656326
4,COL3A1,collagen fibril organization,COL1A1,methionine,0.630683

,n1 - name,n2 - name,n3 - name,n4 - name,score
0,INSR,glucose homeostasis,SLC2A4,streptozocin,0.501681
1,INSR,glucose homeostasis,INS,rosiglitazone,0.500828
2,INSR,insulin-like growth factor receptor binding,INS,rosiglitazone,0.500200
3,INSR,glucose homeostasis,SLC2A4,rosiglitazone,0.486542
4,INSR,glucose homeostasis,IRS1,streptozocin,0.453986

,n1 - name,n2 - name,n3 - name,n4 - name,score
0,IGF1,insulin-like growth factor receptor binding,IGF1,genistein,0.511439
1,IGF1,insulin-like growth factor receptor binding,IGF1,raloxifene hydrochloride,0.510380
2,IGF1,proteoglycan biosynthetic process,IGF1,genistein,0.508119
3,IGF1,positive regulation of mitotic nuclear division,IGF1,genistein,0.508068
4,IGF1,integrin binding,IGF1,genistein,0.507899

  n1 - name                     n2 - name  n3 - name    n4 - name      score
0      SFTPC  respiratory gaseous exchange      SFTPB  terbutaline  0.477045
1      SFTPC  respiratory gaseous exchange      SFTPC  terbutaline  0.469105
2      SFTPB  respiratory gaseous exchange     SFTPA1        ozone  0.388279
3      SFTPB  respiratory gaseous exchange      SFTPC  terbutaline  0.376409
4      SFTPB  respiratory gaseous exchange     SFTPA2        ozone  0.373755

  n1 - name                 n2 - name  n3 - name      n4 - name      score
0       POLG                     aging        ADA      adenosine  0.482472
1       POLG                     aging        AGT  acetylcholine  0.465896
2       POLG                     aging      TIMP1     methionine  0.461928
3       POLG                     aging       CCN2     methionine  0.452857
4       POLG  DNA biosynthetic process       CCN2     methionine  0.447615

,n1 - name,n2 - name,n3 - name,n4 - name,score
0,GH1,prolactin receptor binding,PRL,bromocriptine,0.495242
1,GH1,response to estradiol,PRL,bromocriptine,0.438092
2,GH1,JAK-STAT cascade involved in growth hormone si...,PRL,bromocriptine,0.412268
3,GH1,response to nutrient levels,PRL,bromocriptine,0.412268
4,GH1,positive regulation of JAK-STAT cascade,PRL,bromocriptine,0.412268

,n1 - name,n2 - name,n3 - name,n4 - name,score
0,CP,copper ion binding,SNCA,rotenone,0.321276
1,CP,post-translational protein modification,FGF23,prostaglandin E2,0.311950
2,NPC1,cholesterol metabolic process,STAR,bucladesine,0.296916
3,NPC1,cholesterol homeostasis,SIRT1,nicotinamide,0.294366
4,NPC1,intracellular cholesterol transport,STAR,bucladesine,0.294187

,n1 - name,n2 - name,n3 - name,n4 - name,score
0,STAT1,regulation of apoptotic process,CASP4,capsaicin,0.373437
1,CXCR4,chemotaxis,CXCL12,genistein,0.370998
2,STAT1,tumor necrosis factor receptor binding,TNFSF10,capsaicin,0.370880
3,STAT1,cytokine-mediated signaling pathway,CCL11,ozone,0.369541
4,STAT1,endothelial cell migration,CALCA,capsaicin,0.368865

  n1 - name                         n2 - name  n3 - name  n4 - name      score
0    UGT1A10  glucuronosyltransferase activity     UGT1A8    codeine  0.579648
1     UGT1A8  glucuronosyltransferase activity    UGT1A10    codeine  0.579648
2     UGT1A8  glucuronosyltransferase activity     UGT1A3    codeine  0.579283
3     UGT1A3  glucuronosyltransferase activity     UGT1A8    codeine  0.579250
4    UGT1A10  glucuronosyltransferase activity     UGT1A3    codeine  0.579250

,n1 - name,n2 - name,n3 - name,n4 - name,score
0,EIF2AK3,enzyme binding,CBS,nitric oxide,0.477976
1,CBS,oxygen binding,CBS,nitric oxide,0.474734
2,CBS,carbon monoxide binding,CBS,carbon monoxide,0.473565
3,CBS,homocysteine metabolic process,CBS,nitric oxide,0.472914
4,CBS,oxygen binding,CBS,carbon monoxide,0.472589

,n1 - name,n2 - name,n3 - name,n4 - name,score
0,TPH2,circadian rhythm,TPH2,melatonin,0.570765
1,TPH2,serotonin biosynthetic process,TPH1,L-tryptophan,0.560799
2,TPH2,circadian rhythm,TPH1,L-tryptophan,0.560684
3,TPH2,tryptophan 5-monooxygenase activity,TPH1,L-tryptophan,0.533777
4,TPH2,serotonin biosynthetic process,TPH2,L-tryptophan,0.527742

,n1 - name,n2 - name,n3 - name,n4 - name,score
0,GH1,prolactin receptor binding,PRL,bromocriptine,0.495242
1,GH1,response to estradiol,PRL,bromocriptine,0.438092
2,GH1,positive regulation of JAK-STAT cascade,PRL,bromocriptine,0.412268
3,GH1,response to nutrient levels,PRL,bromocriptine,0.412268
4,GH1,JAK-STAT cascade involved in growth hormone si...,PRL,bromocriptine,0.412268

  n1 - name               n2 - name  n3 - name  n4 - name      score
0       AQP3  water channel activity       AQP3   glycerol  0.526878
1       AQP3         water transport       AQP3   glycerol  0.521391
2       AQP3               excretion       AQP3   glycerol  0.521142
3       AQP1  water channel activity       AQP3   glycerol  0.520775
4       AQP2  water channel activity       AQP3   glycerol  0.519247

,n1 - name,n2 - name,n3 - name,n4 - name,score
0,NDUFS1,NADH dehydrogenase (ubiquinone) activity,NDUFS4,rotenone,0.601965
1,NDUFS1,reactive oxygen species metabolic process,NDUFS4,rotenone,0.559122
2,MT-ND4,aging,DLD,rotenone,0.556146
3,NDUFS1,cellular respiration,NDUFS4,rotenone,0.554958
4,NDUFS2,NADH dehydrogenase (ubiquinone) activity,NDUFS4,rotenone,0.549713

  n1 - name            n2 - name  n3 - name           n4 - name      score
0        ENG         angiogenesis    ANGPTL4  dimethyl sulfoxide  0.428723
1      SMAD4  response to hypoxia    ANGPTL4  dimethyl sulfoxide  0.427306
2        ENG         angiogenesis    ANGPTL4            glycerol  0.423983
3        ENG     response to drug        POR  dimethyl sulfoxide  0.405035
4     ACVRL1         angiogenesis       CCN2          methionine  0.401417

,n1 - name,n2 - name,n3 - name,n4 - name,score
0,NFKB2,aging,AGT,acetylcholine,0.492115
1,NFKB2,positive regulation of NF-kappaB transcription...,AGT,acetylcholine,0.486349
2,MYD88,positive regulation of NF-kappaB transcription...,TLR4,ozone,0.475529
3,MYD88,positive regulation of NF-kappaB transcription...,TLR4,nitrogen dioxide,0.475515
4,CD81,integrin binding,CCN2,methionine,0.453823

,n1 - name,n2 - name,n3 - name,n4 - name,score
0,PARK7,negative regulation of neuron apoptotic process,SNCA,rotenone,0.395998
1,SNCA,negative regulation of neuron apoptotic process,PARK7,rotenone,0.394919
2,PINK1,negative regulation of neuron apoptotic process,SNCA,rotenone,0.393968
3,PARK7,cellular response to oxidative stress,SNCA,rotenone,0.387448
4,PINK1,negative regulation of neuron apoptotic process,PARK7,rotenone,0.386173

  n1 - name                  n2 - name  n3 - name         n4 - name      score
0     TFAP2B           skin development     COL3A1        methionine  0.446585
1       JAG1               angiogenesis      SIRT1      nicotinamide  0.421638
2     TFAP2B  ductus arteriosus closure       HPGD  prostaglandin E2  0.418860
3      GATA6           response to drug       STAR       bucladesine  0.394459
4      GATA4           response to drug       STAR       bucladesine  0.394279

,n1 - name,n2 - name,n3 - name,n4 - name,score
0,CHRNA3,acetylcholine-gated cation-selective channel a...,CHRNA4,acetylcholine,0.652251
1,CHRNA4,acetylcholine-gated cation-selective channel a...,CHRNA4,acetylcholine,0.640760
2,CHRNA3,acetylcholine binding,CHRNA4,acetylcholine,0.628032
3,CYP2B6,xenobiotic metabolic process,CYP2B6,bupropion,0.624977
4,CYP2B6,"oxidoreductase activity, acting on paired dono...",CYP2B6,bupropion,0.624870

,n1 - name,n2 - name,n3 - name,n4 - name,score
0,CYBB,response to drug,TH,methamphetamine,0.377150
1,NDUFS1,NADH dehydrogenase (ubiquinone) activity,NDUFS4,rotenone,0.357352
2,GATA3,response to drug,TH,methamphetamine,0.339977
3,GATA3,norepinephrine biosynthetic process,TH,methamphetamine,0.339910
4,GATA3,response to ethanol,TH,methamphetamine,0.339815

,n1 - name,n2 - name,n3 - name,n4 - name,score
0,COG6,ER to Golgi vesicle-mediated transport,AREG,tyrphostin AG 1478,0.138734
1,COG6,ER to Golgi vesicle-mediated transport,SEC24D,bupropion,0.108173
2,COG6,ER to Golgi vesicle-mediated transport,AREG,forskolin,0.107363
3,COG6,ER to Golgi vesicle-mediated transport,INS,acetylcholine,0.103404
4,COG6,ER to Golgi vesicle-mediated transport,CAPZA2,nocodazole,0.101522

,n1 - name,n2 - name,n3 - name,n4 - name,score
0,PSEN1,positive regulation of apoptotic process,BAD,sulindac sulfide,0.370953
1,SQSTM1,positive regulation of apoptotic process,SNCA,rotenone,0.370578
2,PSEN1,memory,PSEN1,sulindac sulfide,0.362320
3,CP,copper ion binding,SNCA,rotenone,0.360352
4,PSEN1,memory,CREB1,forskolin,0.350356

,n1 - name,n2 - name,n3 - name,n4 - name,score
0,CYBA,superoxide metabolic process,NCF1,streptozocin,0.362508
1,CYBA,respiratory burst,NCF1,streptozocin,0.361986
2,CYBA,superoxide anion generation,NCF1,streptozocin,0.361861
3,CYBA,electron transport chain,NCF1,streptozocin,0.357508
4,CYBA,superoxide-generating NADPH oxidase activity,NCF1,streptozocin,0.348225

,n1 - name,n2 - name,n3 - name,n4 - name,score
0,NOTCH3,transcription initiation from RNA polymerase I...,NOTCH4,ozone,0.440133
1,NOTCH3,positive regulation of transcription of Notch ...,NOTCH4,ozone,0.440133
2,NOTCH3,regulation of developmental process,NOTCH4,ozone,0.440133
3,NOTCH3,Notch signaling pathway,NOTCH3,ozone,0.431014
4,NOTCH3,negative regulation of Notch signaling pathway,NOTCH3,ozone,0.419440

  n1 - name            n2 - name  n3 - name      n4 - name      score
0        FN1         angiogenesis      SIRT1   streptozocin  0.326322
1        FN1         angiogenesis   SERPINE1  rosiglitazone  0.325366
2        FN1         angiogenesis        LEP  rosiglitazone  0.323185
3        FN1         angiogenesis    ANGPTL4  rosiglitazone  0.320617
4        FN1  leukocyte migration     COL1A1  rosiglitazone  0.319750

  n1 - name                     n2 - name  n3 - name     n4 - name      score
0      SIRT1                  angiogenesis      SIRT1  nicotinamide  0.551090
1      SIRT1  response to oxidative stress      SIRT1  nicotinamide  0.550759
2      SIRT1    protein C-terminus binding      SIRT1  nicotinamide  0.550636
3      SIRT1  transcription factor binding      SIRT1  nicotinamide  0.550609
4      PSEN1  response to oxidative stress      SIRT1  nicotinamide  0.542021

,n1 - name,n2 - name,n3 - name,n4 - name,score
0,GH1,prolactin receptor binding,PRL,bromocriptine,0.495242
1,GH1,response to estradiol,PRL,bromocriptine,0.438092
2,GH1,positive regulation of JAK-STAT cascade,PRL,bromocriptine,0.412268
3,GH1,JAK-STAT cascade involved in growth hormone si...,PRL,bromocriptine,0.412268
4,GH1,response to nutrient levels,PRL,bromocriptine,0.412268

,n1 - name,n2 - name,n3 - name,n4 - name,score
0,TLR2,positive regulation of NF-kappaB transcription...,TLR4,nitrogen dioxide,0.701094
1,TLR2,positive regulation of inflammatory response,TLR4,ozone,0.699234
2,CALCA,aging,CALCA,capsaicin,0.693847
3,PPARGC1A,aging,CALCA,capsaicin,0.690089
4,TNFRSF1A,positive regulation of inflammatory response,TLR4,ozone,0.684440

  n1 - name            n2 - name  n3 - name      n4 - name      score
0     TCF7L2  glucose homeostasis     ADIPOQ  rosiglitazone  0.804548
1     TCF7L2  response to glucose     ADIPOQ  rosiglitazone  0.787241
2   PPARGC1A                aging      CALCA      capsaicin  0.784459
3       INSR  glucose homeostasis     ADIPOQ  rosiglitazone  0.774955
4       IRS1  glucose homeostasis     ADIPOQ  rosiglitazone  0.771872

,n1 - name,n2 - name,n3 - name,n4 - name,score
0,ADA,aging,ADA,adenosine,0.756890
1,ADA,adenosine deaminase activity,ADA,adenosine,0.704996
2,MYD88,positive regulation of NF-kappaB transcription...,TLR4,nitrogen dioxide,0.693643
3,MYD88,positive regulation of NF-kappaB transcription...,TLR4,ozone,0.693228
4,NOD2,positive regulation of NF-kappaB transcription...,TLR4,muramyl dipeptide,0.675352

,n1 - name,n2 - name,n3 - name,n4 - name,score
0,FASLG,activation of cysteine-type endopeptidase acti...,FAS,vorinostat,0.776149
1,FASLG,positive regulation of apoptotic process,FAS,vorinostat,0.776066
2,FASLG,apoptotic signaling pathway,FAS,vorinostat,0.775142
3,TLR2,positive regulation of NF-kappaB transcription...,TLR4,nitrogen dioxide,0.764280
4,TLR2,positive regulation of NF-kappaB transcription...,TLR4,ozone,0.764276

,n1 - name,n2 - name,n3 - name,n4 - name,score
0,UGT1A9,xenobiotic metabolic process,CYP2B6,bupropion,0.643714
1,IGF1,response to heat,GCLC,curcumin,0.628742
2,CYP2B6,xenobiotic metabolic process,CYP2B6,bupropion,0.625592
3,CYP2B6,"oxidoreductase activity, acting on paired dono...",CYP2B6,bupropion,0.625410
4,UGT1A9,xenobiotic metabolic process,FMO3,sulindac,0.609977

,n1 - name,n2 - name,n3 - name,n4 - name,score
0,CAV1,response to bacterium,ADIPOQ,rosiglitazone,0.690904
1,CAV1,positive regulation of cold-induced thermogenesis,ADIPOQ,rosiglitazone,0.670684
2,CAV1,protein homooligomerization,ADIPOQ,rosiglitazone,0.670684
3,PIK3R1,insulin-like growth factor receptor binding,INS,rosiglitazone,0.649484
4,CAV1,response to bacterium,ADIPOQ,streptozocin,0.618930

,n1 - name,n2 - name,n3 - name,n4 - name,score
0,FPR1,chemotaxis,CCL3,ozone,0.366609
1,FPR1,chemotaxis,CXCL5,ozone,0.361599
2,FPR1,cytokine-mediated signaling pathway,IL4,prostaglandin E2,0.361126
3,FPR1,chemotaxis,CXCL10,ozone,0.348512
4,FPR1,chemotaxis,S100A9,ozone,0.347366

,n1 - name,n2 - name,n3 - name,n4 - name,score
0,SNCA,aging,SNCA,rotenone,0.798599
1,CREB1,aging,SNCA,rotenone,0.797257
2,SQSTM1,positive regulation of apoptotic process,SNCA,rotenone,0.790197
3,CP,copper ion binding,SNCA,rotenone,0.785854
4,MT-ND4,aging,SNCA,rotenone,0.766650

,n1 - name,n2 - name,n3 - name,n4 - name,score
0,NOD2,positive regulation of NF-kappaB transcription...,TLR4,muramyl dipeptide,0.706492
1,NOD2,positive regulation of NF-kappaB transcription...,TLR2,muramyl dipeptide,0.702321
2,NOD2,nucleotide-binding oligomerization domain cont...,NFKBIA,dextran sulfate,0.667926
3,NOD2,positive regulation of interleukin-6 production,TLR4,muramyl dipeptide,0.665063
4,CYBB,positive regulation of angiogenesis,SIRT1,nicotinamide,0.660995

,n1 - name,n2 - name,n3 - name,n4 - name,score
0,ADA,aging,ADA,adenosine,0.813724
1,IL13,response to lipopolysaccharide,TLR4,ozone,0.760154
2,TRPA1,sensory perception of pain,TAC1,capsaicin,0.730187
3,ARG1,aging,ADA,adenosine,0.709232
4,IL13,positive regulation of macrophage activation,TLR4,ozone,0.707705

,n1 - name,n2 - name,n3 - name,n4 - name,score
0,POMC,regulation of blood pressure,CALCA,capsaicin,0.742392
1,CALCA,aging,CALCA,capsaicin,0.697887
2,RUNX2,osteoblast differentiation,COL1A1,rosiglitazone,0.677141
3,IGF1,insulin-like growth factor receptor binding,INS,rosiglitazone,0.671226
4,STAT1,endothelial cell migration,CALCA,capsaicin,0.670653

,n1 - name,n2 - name,n3 - name,n4 - name,score
0,MYD88,positive regulation of NF-kappaB transcription...,TLR4,nitrogen dioxide,0.579347
1,MYD88,positive regulation of NF-kappaB transcription...,TLR4,ozone,0.578950
2,MYD88,positive regulation of NF-kappaB transcription...,TLR2,nitrogen dioxide,0.542058
3,MYD88,positive regulation of NF-kappaB transcription...,TLR2,ozone,0.541642
4,CEBPA,glucose homeostasis,LEP,troglitazone,0.527329

,n1 - name,n2 - name,n3 - name,n4 - name,score
0,PINK1,negative regulation of neuron apoptotic process,SNCA,rotenone,0.953451
1,PARK7,negative regulation of neuron apoptotic process,SNCA,rotenone,0.931226
2,PINK1,cellular response to oxidative stress,SNCA,rotenone,0.922589
3,SREBF1,aging,SNCA,rotenone,0.919918
4,HTRA2,aging,SNCA,rotenone,0.917072

,n1 - name,n2 - name,n3 - name,n4 - name,score
0,ABCC9,"ATPase activity, coupled to transmembrane move...",ABCC9,nicorandil,0.335757
1,ABCC9,potassium ion transport,ABCC9,nicorandil,0.335382
2,ABCC9,"ATPase activity, coupled to transmembrane move...",ABCC9,oxybenzone,0.335070
3,ABCC9,potassium channel activity,ABCC9,nicorandil,0.329693
4,ABCC9,response to drug,ABCC9,nicorandil,0.329685

,n1 - name,n2 - name,n3 - name,n4 - name,score
0,NGF,memory,TH,methamphetamine,0.755321
1,NGF,memory,TH,reserpine,0.711517
2,GRIN2A,brain development,GRIN1,ketamine,0.686977
3,FOXO3,aging,PPARGC1A,troglitazone,0.681827
4,HDC,catecholamine biosynthetic process,TH,methamphetamine,0.674938

,n1 - name,n2 - name,n3 - name,n4 - name,score
0,GH1,prolactin receptor binding,PRL,bromocriptine,0.817072
1,PRL,prolactin receptor binding,PRL,bromocriptine,0.774212
2,PRL,prolactin receptor binding,GH1,bromocriptine,0.718111
3,GH1,response to estradiol,PRL,bromocriptine,0.708823
4,PRL,prolactin receptor binding,PRL,diethylstilbestrol,0.697943

,n1 - name,n2 - name,n3 - name,n4 - name,score
0,RYR1,ryanodine-sensitive calcium-release channel ac...,RYR1,halothane,0.578968
1,RYR1,response to caffeine,RYR1,halothane,0.542429
2,RYR1,calcium ion transport,RYR1,halothane,0.542284
3,RYR1,voltage-gated calcium channel activity,RYR1,halothane,0.524767
4,RYR1,calmodulin binding,RYR1,halothane,0.520933

,n1 - name,n2 - name,n3 - name,n4 - name,score
0,MYD88,positive regulation of NF-kappaB transcription...,TLR4,ozone,0.586275
1,ABCA1,cholesterol metabolic process,LEP,troglitazone,0.570034
2,ABCA1,response to drug,ADIPOQ,rosiglitazone,0.568590
3,ABCA1,anion transmembrane transporter activity,ABCA1,rosiglitazone,0.559592
4,ABCA1,anion transmembrane transporter activity,ABCA1,pioglitazone,0.559216

,n1 - name,n2 - name,n3 - name,n4 - name,score
0,TNFRSF1A,positive regulation of inflammatory response,TLR4,ozone,0.698507
1,TNFRSF1A,defense response to bacterium,TLR4,ozone,0.637992
2,TNFRSF1A,positive regulation of I-kappaB kinase/NF-kapp...,TLR4,ozone,0.630290
3,TNFRSF1A,I-kappaB kinase/NF-kappaB signaling,TLR4,ozone,0.630290
4,TNFRSF1A,cellular response to mechanical stimulus,TLR4,ozone,0.630290

,n1 - name,n2 - name,n3 - name,n4 - name,score
0,TIMP1,aging,AGT,isoprenaline,0.528930
1,TIMP1,aging,CCN2,methionine,0.526792
2,SMAD3,T cell activation,IL4,prostaglandin E2,0.486883
3,TIMP1,aging,AGT,acetylcholine,0.482240
4,TIMP1,post-translational protein modification,CP,isoprenaline,0.482087