# Workflow 1, Module 2 direct (no pathway expansion) examples

In [1]:
#To make nicer looking outputs
from IPython.core.display import display, HTML
import requests

#Load some functions for parsing quick output
import os
import sys
module_path = os.path.abspath(os.path.join('../../..'))
if module_path not in sys.path:
    sys.path.append(module_path)
from gg_functions import parse_answer, get_view_url

robokop='robokop.renci.org'

In [2]:
common_diseases = [
("MONDO:0005578","arthritis"),
("MONDO:0005148","type 2 diabetes mellitus"),
("MONDO:0002406","dermatitis"),
("MONDO:0008383","rheumatoid arthritis"),
("MONDO:0005359","drug-induced liver injury"),
("MONDO:0006573","lipodystrophy (disease)"),
("MONDO:0008226","aggressive periodontitis"),
("MONDO:0001627","dementia"),
("MONDO:0005265","inflammatory bowel disease"),
("MONDO:0004979","asthma"),
("MONDO:0005298","osteoporosis"),
("MONDO:0006932","pulmonary edema"),
("MONDO:0005180","Parkinson disease"),
("MONDO:0006658","arteriolosclerosis"),
("MONDO:0005090","schizophrenia"),
("MONDO:0005152","hypopituitarism"),
("MONDO:0001835","facial paralysis"),
("MONDO:0001824","polyneuropathy"),
("MONDO:0005301","multiple sclerosis"),
("MONDO:0006644","alcoholic liver cirrhosis")
]

In [3]:
rare_diseases = [
    ("MONDO:0019600","xeroderma pigmentosum"),
    ("MONDO:0016006","cockayne syndrome"),
    ("MONDO:0015797","UV-sensitive syndrome"),
    ("MONDO:0011125","Triciothiodystrophy"),
    ("MONDO:0001076","glucose intolerance"),
    ("MONDO:0010086","sudden infant death syndrome"),
    ('MONDO:0010940', 'inherited susceptibility to asthma'),
    ('MONDO:0007319', 'familial calcium pyrophosphate deposition'),
    ('MONDO:0020087', 'genetic lipodystrophy'),
    ('MONDO:0007455', 'diabetes mellitus, noninsulin-dependent'),
    ('MONDO:0007191','Behcet disease'),
    ('MONDO:0005100','systemic sclerosis'),
    ('MONDO:0010602','hemophilia A'),
    ('MONDO:0006507','hereditary hemochromatosis'),
    ('MONDO:0019599','primary lipodystrophy'),
    ('MONDO:0015547','genetic dementia'),
    ('MONDO:0015978','functional neutrophil defect'),
    ('MONDO:0007186','gastroesophageal reflux disease'),
    ('MONDO:0009061','cystic fibrosis'),
    ('MONDO:0009971','newborn respiratory distress syndrome'),
    ('MONDO:0011565','metabolic syndrome X'),
    ('MONDO:0008752','Alexander disease'),
    ('MONDO:0008364','Raynaud disease')
]

In [4]:
#This is the templated query that goes (disease)-(set of phenotypes)-(genetic condition)
turl=lambda robokop,disease_id,disease_name: f'http://{robokop}/api/simple/quick/template/wf1mod2_direct/{disease_id}/?name1={disease_name}/?max_connectivity=1000'

for disease_id, disease_name in rare_diseases + common_diseases:
    url = turl(robokop,disease_id,disease_name)
    display(HTML(f'<h3>{disease_name}</h3>'))
    response = requests.get(url)
    if response.status_code != 200:
        print('Error')
        continue
    answers=response.json()
    if answers == 'Bad response from the question answering service.':
        print(answers)
        continue
    view_url = get_view_url(answers)
    display(HTML(f'<a href={view_url}>View Answer in ROBOKOP</a>'))
    answer_frame = parse_answer(answers,node_list=['n2'],edge_list=[])
    display(answer_frame.head())

      n2 - id        n2 - name      score
0  CHEBI:29865   benzo[a]pyrene  0.449387
1  CHEBI:28748      doxorubicin  0.448775
2  CHEBI:29678  sodium arsenite  0.448550
3  CHEBI:29865   benzo[a]pyrene  0.448320
4  CHEBI:29678  sodium arsenite  0.445551

      n2 - id          n2 - name      score
0  CHEBI:29865     benzo[a]pyrene  0.447395
1  CHEBI:27656       camptothecin  0.441300
2   CHEBI:4911          etoposide  0.439990
3  CHEBI:28680         cytarabine  0.436244
4  CHEBI:16240  hydrogen peroxide  0.435480

      n2 - id          n2 - name      score
0  CHEBI:16240  hydrogen peroxide  0.359292
1  CHEBI:34905           paraquat  0.276643
2  CHEBI:38211  potassium bromate  0.259242
3  CHEBI:28201           rotenone  0.259238
4  CHEBI:38658        dicrotophos  0.259156

      n2 - id      n2 - name      score
0  CHEBI:47217         arsane  0.229089
1  CHEBI:39867  valproic acid  0.224537
2  CHEBI:31941    oxaliplatin  0.213623
3  CHEBI:16716        benzene  0.203083
4  CHEBI:16716        benzene  0.203083

      n2 - id  n2 - name      score
0  CHEBI:17234    glucose  0.804310
1  CHEBI:17234    glucose  0.785865
2  CHEBI:17234    glucose  0.759348
3  CHEBI:17234    glucose  0.759009
4  CHEBI:17234    glucose  0.720393

      n2 - id        n2 - name      score
0  CHEBI:28593        quinidine  0.441819
1  CHEBI:27958          cocaine  0.439788
2  CHEBI:28487        reserpine  0.438438
3   CHEBI:6809  methamphetamine  0.435212
4  CHEBI:33216      bisphenol A  0.431663

      n2 - id           n2 - name      score
0  CHEBI:45713   trans-resveratrol  0.255946
1  CHEBI:16412  lipopolysaccharide  0.253453
2   CHEBI:3374           capsaicin  0.252504
3  CHEBI:25812               ozone  0.251768
4   CHEBI:9150         simvastatin  0.251577

      n2 - id      n2 - name      score
0  CHEBI:39867  valproic acid  0.295487
1  CHEBI:29108    calcium(2+)  0.213308

Bad response from the question answering service.

      n2 - id     n2 - name      score
0   CHEBI:8228  pioglitazone  0.351073
1  CHEBI:17234       glucose  0.340210
2  CHEBI:17234       glucose  0.333527
3  CHEBI:17234       glucose  0.333488
4   CHEBI:6801     metformin  0.319894

      n2 - id           n2 - name      score
0  CHEBI:16240   hydrogen peroxide  0.449361
1  CHEBI:16412  lipopolysaccharide  0.447575
2  CHEBI:28748         doxorubicin  0.442553
3  CHEBI:16236             ethanol  0.438970
4  CHEBI:41879       dexamethasone  0.436832

      n2 - id           n2 - name      score
0  CHEBI:16412  lipopolysaccharide  0.448908
1   CHEBI:3374           capsaicin  0.447107
2  CHEBI:25812               ozone  0.445715
3   CHEBI:9150         simvastatin  0.445355
4  CHEBI:16243           quercetin  0.444418

      n2 - id      n2 - name      score
0   CHEBI:4450   desmopressin  0.422043
1  CHEBI:39867  valproic acid  0.389192
2  CHEBI:39867  valproic acid  0.383680
3   CHEBI:4031  cyclosporin A  0.383365
4  CHEBI:46195    paracetamol  0.352072

      n2 - id           n2 - name      score
0  CHEBI:18248           iron atom  0.479702
1  CHEBI:18248           iron atom  0.477952
2  CHEBI:18248           iron atom  0.456412
3  CHEBI:18248           iron atom  0.450789
4  CHEBI:16412  lipopolysaccharide  0.447389

Bad response from the question answering service.

Bad response from the question answering service.

Bad response from the question answering service.

      n2 - id             n2 - name      score
0   CHEBI:7772            omeprazole  0.490325
1   CHEBI:6375          lansoprazole  0.468080
2   CHEBI:3374             capsaicin  0.451719
3  CHEBI:15365  acetylsalicylic acid  0.447466
4  CHEBI:18295             histamine  0.447410

       n2 - id      n2 - name      score
0   CHEBI:23114  chloride salt  0.666684
1   CHEBI:28088      genistein  0.622197
2  CHEBI:131686    CFTRinh-172  0.617947
3   CHEBI:42471      forskolin  0.612637
4   CHEBI:66901      ivacaftor  0.601392

      n2 - id       n2 - name      score
0  CHEBI:41879   dexamethasone  0.436240
1   CHEBI:7590        nitrofen  0.402767
2   CHEBI:7590        nitrofen  0.399178
3  CHEBI:32509  pirinixic acid  0.398437
4  CHEBI:39867   valproic acid  0.395138

      n2 - id           n2 - name      score
0  CHEBI:17234             glucose  0.432297
1   CHEBI:8093       phenylephrine  0.411205
2  CHEBI:16412  lipopolysaccharide  0.410588
3   CHEBI:5001         fenofibrate  0.410281
4  CHEBI:41879       dexamethasone  0.410252

      n2 - id           n2 - name      score
0  CHEBI:29678     sodium arsenite  0.416726
1  CHEBI:16412  lipopolysaccharide  0.403423
2  CHEBI:31746         kainic acid  0.391968
3  CHEBI:39867       valproic acid  0.382798
4  CHEBI:29678     sodium arsenite  0.382767

      n2 - id        n2 - name      score
0  CHEBI:16716          benzene  0.348660
1  CHEBI:16716          benzene  0.345812
2  CHEBI:15767  dichloromethane  0.343189
3  CHEBI:16856      glutathione  0.337741
4  CHEBI:41879    dexamethasone  0.334988

      n2 - id     n2 - name      score
0  CHEBI:44185  methotrexate  0.520632
1  CHEBI:44185  methotrexate  0.515042
2  CHEBI:44185  methotrexate  0.511256
3  CHEBI:44185  methotrexate  0.504430
4  CHEBI:44185  methotrexate  0.494434

      n2 - id  n2 - name      score
0  CHEBI:17234    glucose  1.310518
1  CHEBI:17234    glucose  1.300851
2  CHEBI:17234    glucose  1.298427
3  CHEBI:17234    glucose  1.295899
4  CHEBI:17234    glucose  1.294960

      n2 - id          n2 - name      score
0  CHEBI:18295          histamine  0.461078
1  CHEBI:18295          histamine  0.460372
2  CHEBI:45713  trans-resveratrol  0.454947
3   CHEBI:3374          capsaicin  0.452882
4   CHEBI:3374          capsaicin  0.452270

      n2 - id     n2 - name      score
0  CHEBI:44185  methotrexate  0.772199
1  CHEBI:44185  methotrexate  0.720012
2  CHEBI:44185  methotrexate  0.719897
3  CHEBI:44185  methotrexate  0.713441
4  CHEBI:44185  methotrexate  0.712083

      n2 - id           n2 - name      score
0  CHEBI:46195         paracetamol  0.451461
1  CHEBI:28748         doxorubicin  0.451274
2  CHEBI:16716             benzene  0.450817
3  CHEBI:27385  tetrachloromethane  0.449622
4  CHEBI:16240   hydrogen peroxide  0.449474

      n2 - id           n2 - name      score
0  CHEBI:17234             glucose  0.464422
1  CHEBI:50122       rosiglitazone  0.451566
2  CHEBI:17234             glucose  0.447735
3  CHEBI:16412  lipopolysaccharide  0.447562
4   CHEBI:9753        troglitazone  0.447532

      n2 - id                          n2 - name      score
0  CHEBI:73468                         masoprocol  0.350574
1  CHEBI:28119  2,3,7,8-tetrachlorodibenzodioxine  0.321872
2  CHEBI:39867                      valproic acid  0.319241
3  CHEBI:30270                                E64  0.313332
4  CHEBI:17996                           chloride  0.313294

      n2 - id      n2 - name      score
0  CHEBI:53289      donepezil  0.478394
1   CHEBI:9150    simvastatin  0.470270
2  CHEBI:15355  acetylcholine  0.467256
3   CHEBI:8427       probucol  0.467092
4  CHEBI:18243       dopamine  0.466817

      n2 - id           n2 - name      score
0  CHEBI:34674     dextran sulfate  0.502758
1   CHEBI:2948        azathioprine  0.500560
2   CHEBI:9334       sulfasalazine  0.497072
3  CHEBI:16412  lipopolysaccharide  0.491612
4   CHEBI:3374           capsaicin  0.474261

      n2 - id  n2 - name      score
0  CHEBI:18295  histamine  0.663456
1  CHEBI:18295  histamine  0.662335
2  CHEBI:18295  histamine  0.654880
3  CHEBI:18295  histamine  0.630854
4  CHEBI:18295  histamine  0.630307

      n2 - id   n2 - name      score
0  CHEBI:50114    estrogen  0.684831
1  CHEBI:27300   vitamin D  0.644069
2  CHEBI:27300   vitamin D  0.617092
3  CHEBI:27300   vitamin D  0.608312
4  CHEBI:17823  calcitriol  0.544818

      n2 - id           n2 - name      score
0  CHEBI:15377               water  0.476589
1  CHEBI:16412  lipopolysaccharide  0.461384
2  CHEBI:34905            paraquat  0.454722
3  CHEBI:16240   hydrogen peroxide  0.451952
4  CHEBI:33216         bisphenol A  0.448914

      n2 - id  n2 - name      score
0  CHEBI:18243   dopamine  1.041567
1  CHEBI:18243   dopamine  1.031392
2  CHEBI:18243   dopamine  1.023948
3  CHEBI:18243   dopamine  1.009273
4  CHEBI:18243   dopamine  1.003671

      n2 - id      n2 - name      score
0   CHEBI:7565     nifedipine  0.323799
1  CHEBI:26708    sodium atom  0.317837
2   CHEBI:8024    perindopril  0.310124
3   CHEBI:4031  cyclosporin A  0.303138
4   CHEBI:9927      valsartan  0.303116

      n2 - id  n2 - name      score
0  CHEBI:18243   dopamine  0.749461
1  CHEBI:18243   dopamine  0.737799
2  CHEBI:18243   dopamine  0.728672
3  CHEBI:18243   dopamine  0.720528
4  CHEBI:18243   dopamine  0.718245

      n2 - id      n2 - name      score
0  CHEBI:17234        glucose  0.455484
1   CHEBI:3181  bromocriptine  0.447710
2  CHEBI:33216    bisphenol A  0.440771
3  CHEBI:33216    bisphenol A  0.438446
4  CHEBI:17650       cortisol  0.438063

      n2 - id      n2 - name      score
0  CHEBI:39867  valproic acid  0.395244
1  CHEBI:16236        ethanol  0.339891
2  CHEBI:17650       cortisol  0.336318
3  CHEBI:27958        cocaine  0.333179
4   CHEBI:8093  phenylephrine  0.330475

      n2 - id           n2 - name      score
0  CHEBI:28748         doxorubicin  0.451100
1   CHEBI:3374           capsaicin  0.449892
2  CHEBI:16412  lipopolysaccharide  0.447264
3   CHEBI:3374           capsaicin  0.447065
4  CHEBI:45863          paclitaxel  0.446070

      n2 - id           n2 - name      score
0  CHEBI:16412  lipopolysaccharide  0.465610
1   CHEBI:3374           capsaicin  0.457636
2   CHEBI:9150         simvastatin  0.457139
3  CHEBI:25812               ozone  0.456158
4  CHEBI:17823          calcitriol  0.455335

      n2 - id           n2 - name      score
0  CHEBI:16236             ethanol  0.455806
1  CHEBI:46195         paracetamol  0.450195
2  CHEBI:16240   hydrogen peroxide  0.449361
3  CHEBI:16412  lipopolysaccharide  0.448618
4  CHEBI:16236             ethanol  0.446303